.category-items {
	padding: 0 !important;
}

.banner {
	background-color: #f4f7f8;
	margin: 0 auto;
}

.category-banner {
	background: url('images/banner.png');
	width: 1170px;
	height: 127px;
	margin: 0 auto;

	a {
		display: block;
		width: 250px;
		height: 125px;
	}
}

@media (max-width: @screen-sm-max) {
	.category-banner {
		width: auto;
	}
}

.category {
	padding: 0 !important;

	.category-item {
		position: relative;

		.userDelete {
			position: absolute;
			top: 12px;
			right: 0;
			color: @brand-danger;
		}
	}

	.topic-list {
		margin-top: 10px;
		padding: 0;

		.category-item {
			list-style: none;
			min-height: 145px;
			border-bottom: 1px solid #ebeff1;
		}

		.topic-container {
			position: relative;
			min-height: 50px;

			p {
				word-wrap: break-word;
				word-break: break-all;
				overflow: hidden;
			}

			h1 {
				font-size: 18px;
				font-weight: bold;
				line-height: 36px;
			}

			h2 {
				font-size: 16px;
				font-weight: bold;
				line-height: 30px;
			}

			h3 {
				font-size: 16px;
				line-height: 30px;
			}

			h4 {
				font-size: 14px;
				font-weight: bold;
				line-height: 30px;
			}

			h5 {
				font-size: 14px;
				line-height: 24px;
			}

			h6 {
				font-size: 14px;
			}

			.user-info {
				width: 67px;
				margin-top: 25px;
				color: #d6d6d6;
				position: absolute;

				.year {
					font-size: 14px;
					height: 14px;
					margin: 0;
					text-align: right;
					line-height: 14px;
				}

				.date {
					font-size: 24px;
					line-height: 36px;
					margin: 0;
					height: 36px;
					line-height: 36px;
				}

				.avatar-container {
					width: 30px;
					height: 30px;
					top: 10px;
					cursor: pointer;
					float: right;
					margin-top: 8px;

					a {
						&:hover {
							.official-tips {
								display: block;
							}

						}
					}

					img {
						width: 30px;
						height: 30px;
						display: inline-block;
						*display: inline;
						zoom: 1;
						border-radius: 15px;
					}

					.user-icon {
						width: 30px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						background-color: #9c27b0
					}

					.official-container {
						&:hover {
							.official-tips {
								display: block;
							}
						}
					}

					.official-tips {
						display: none;
						position: relative;
						white-space: nowrap;
						position: absolute;
						height: 28px;
						line-height: 28px;
						text-align: center;
						font-size: 14px;
						z-index: 4;
						color: #16181d;
						border-radius: 5px;
						top: 66px;
						left: 76px;
						border: 1px solid #ebeff1;
						border-radius: 4px;
						background-color: #fff;
						box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
						padding: 0 6px;

						.triangle {
							width: 0;
							height: 0;
							border-width: 6px 6px 6px 0;
							border-style: solid;
							border-color: transparent #fff transparent transparent;
							position: absolute;
							bottom: 8px;
							left: -6px;
						}
					}

					.official-tips-group {
						font-size: 12px;
						color: #ec3c2e;
					}
				}
			}

			.topic-list-container {
				width: 100%;
				padding-left: 90px;

				.title {
					margin-top: 20px;

					.highkeyword {
						background-color: #ff0;
					}

					a {
						font-size: 20px;
						// font-weight: bold;
						color: #16181d;
						display: inline-block;
						max-width: 660px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						vertical-align: middle;
					}

					.hasPinned {
						color: #fff;
						background-color: #ffa64d;
						display: inline-block;
						*display: inline;
						*zoom: 1;
						width: 26px;
						height: 26px;
						border-radius: 13px;
						line-height: 26px;
						text-align: center;
						font-size: 12px;
						font-family: "宋体";
						// border:1px solid @red-pinned;
						font-style: normal;
						margin-left: 2px;
					}

					.hasHighLighted {
						color: #fff;
						background-color: #ea3629;
						display: inline-block;
						*display: inline;
						*zoom: 1;
						width: 26px;
						height: 26px;
						border-radius: 13px;
						line-height: 26px;
						text-align: center;
						font-size: 12px;
						font-family: "宋体";
						font-style: normal;
						margin-left: 2px;
					}
				}

				.topic-list-detail {
					position: relative;

					.detail-left {
						margin-right: 209px;

						.highkeyword {
							background-color: #ff0
						}

						p {
							font-size: 12px;
							color: #666;
							margin: 0;
							margin-top: 10px;
							max-height: 46px;
							line-height: 16px;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}

						.detail-all-label {
							margin-top: 10px;
							margin-bottom: 25px;

							.detail-label {
								display: inline-block;
								*display: inline;
								*zoom: 1;
								padding: 0 16px;
								height: 28px;
								font-size: 12px;
								line-height: 28px;
								text-align: center;
								border: 1px solid #ebeff1;
								border-radius: 14px;
								background-color: #fbfbfb;
								margin-right: 12px;
								color: #666;

								&.label-performance {
									position: absolute;
									cursor: pointer;

									.thumb {
										display: none;
										// display: inline-block;
										position: absolute;
										top: -103px;
										left: -25px;
										padding: 5px;
										background-color: #fff;
										box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
										border-radius: 5px;

										img {
											width: 146px;
											height: 85px;
										}
									}

									&:hover {
										.thumb {
											display: inline-block;
										}
									}

									.triangle {
										width: 0;
										height: 0;
										border-width: 8px 8px 0;
										border-style: solid;
										border-color: #fff transparent transparent;
										position: absolute;
										bottom: -8px;
										left: 67px
									}
								}
							}
						}

					}

					.detail-right {
						position: absolute;
						right: 0;
						width: 173px;
						top: 0;

						.detail-reply-msg {
							position: relative;

							.no-reply {
								font-size: 12px;
								font-family: "宋体";
								color: #d6d6d6;
								margin: 0 10px;
							}

							.btn {
								font-size: 12px;
								height: 30px;
								line-height: 30px;
								padding: 0 10px;
								border-radius: 4px;
								background-color: #ec3c2e !important;
							}

							.detail-reply-t {
								margin-left: 38px;
								font-size: 12px;
								font-family: "宋体";
								color: #d6d6d6;

								.username {
									a {
										color: #008c8c;
										display: inline-block;
										*display: inline;
										*zoom: 1;
										width: 75px;
										overflow: hidden;
										word-break: keep-all;
										white-space: nowrap;
										text-overflow: ellipsis;
										vertical-align: middle;
										font-family: "微软雅黑"
									}
								}

								p {
									margin: 0;
								}
							}

							img {
								width: 30px;
								height: 30px;
								border-radius: 15px;
								position: absolute;
							}
						}

						.detail-right-avatar {
							&:hover {
								.official-tips {
									display: block;
								}
							}
						}

						.goldminerimg2.g-official {
							top: 17px;
							left: 17px;
						}

						.official-tips {
							display: none;
							position: relative;
							white-space: nowrap;
							position: absolute;
							height: 28px;
							line-height: 28px;
							text-align: center;
							font-size: 14px;
							z-index: 4;
							color: #16181d;
							border-radius: 5px;
							top: 3px;
							left: 37px;
							border: 1px solid #ebeff1;
							border-radius: 4px;
							background-color: #fff;
							box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
							padding: 0 6px;

							.triangle {
								width: 0;
								height: 0;
								border-width: 6px 6px 6px 0;
								border-style: solid;
								border-color: transparent #fff transparent transparent;
								position: absolute;
								bottom: 8px;
								left: -6px;
							}
						}

						.official-tips-group {
							font-size: 12px;
							color: #ec3c2e;
						}

						.relevance {
							margin-top: 15px;

							>div {
								padding: 0;
								color: #666;
								font-size: 12px;
							}
						}

					}
				}
			}

			// .topic-title{
			// 	padding-left:48px;
			// 	.title{
			// 		font-size:16px;
			// 		color:#233241;
			// 		font-weight: bold;
			// 		line-height: 30px;
			// 		.categoryname{
			// 			font-size:14px;
			// 			font-weight: normal;
			// 			color:#1d8ce0;
			// 		}
			// 		.hasPinned{
			// 			color:@red-pinned;
			// 			display: inline-block;
			// 			*display:inline;
			// 			*zoom:1;
			// 			width:20px;
			// 			height: 20px;
			// 			line-height: 20px;
			// 			text-align: center;
			// 			font-size:12px;
			// 			border:1px solid @red-pinned;
			// 			border-radius: 4px;
			// 			font-style:normal;
			// 			margin-left:2px;
			// 		}
			// 		.hasHighLighted{
			// 			color:@bule-default;
			// 			display: inline-block;
			// 			*display:inline;
			// 			*zoom:1;
			// 			width:20px;
			// 			height: 20px;
			// 			line-height: 20px;
			// 			text-align: center;
			// 			font-size:12px;
			// 			border:1px solid @bule-default;
			// 			border-radius: 4px;
			// 			font-style:normal;
			// 			margin-left:2px;
			// 		}
			// 		a{
			// 			color:#233241;
			// 			&:hover{
			// 				color:@bule-default;
			// 			}
			// 		}
			// 	}
			// 	.release-time{
			// 		font-size:12px;
			// 		color:#ababab;
			// 		font-weight: normal;
			// 		.author{
			// 			color:#233241;
			// 			font-size:12px;
			// 			padding-right:4px;
			// 			cursor:pointer;
			// 			a{
			// 				color:#233241;
			// 			}
			// 		}
			// 		.list-category{
			// 			color:#233241;
			// 			font-size:12px;
			// 			padding-left:4px;
			// 		}
			// 	}
			// }

		}

		.content {
			margin-top: 10px;

			// margin-bottom:10px;			
			.content-main {
				padding: 15px;
				padding-top: 0;
				padding-left: 0;

				p {
					line-height: 24px;
					font-size: 14px;
					color: #666;
					word-wrap: break-word;
					word-break: break-all;
					overflow: hidden;
					margin-bottom: 0;
				}
			}

			.thumb {
				padding-right: 10px;
				padding-left: 0;

				img {
					width: 100%;
					height: 100%;
					border-radius: 0;
					margin-bottom: 17px;
					height: 70px;
				}
			}

		}

		.topic-relevance {
			padding: 0 15px;

			.topic-relevance-left {
				padding: 0;
			}

			.unreply {
				font-size: 12px;
				color: #ababab;
				margin: 0;
			}

			.reply {
				font-size: 12px;
				color: #ababab;

				.author {
					color: #233241;
					cursor: pointer;

					a {
						color: #233241;
					}
				}
			}

			.relevance-right {
				font-size: 12px;
				color: #ababab;

				div {
					padding: 0;
				}

				.viewcount,
				.postcount,
				.upvotes {
					color: #233241;
					// font-weight: bold;
				}
			}
		}
	}

	>ul {
		>li {
			list-style: none;
			border-bottom: 1px solid #eee !important;

			&:not(.unread) {
				.card {
					border-color: lighten(@gray-light, 20%) !important;
				}

				h2 a {
					color: @gray;
				}
			}

			&.deleted {
				-moz-opacity: 0.30;
				opacity: 0.30;
			}

			&.pinned {
				[component="topic/pinned"] {
					cursor: move;
				}
			}

			.select {
				position: relative;
				.pointer;

				&:before {
					content: "";
					display: none;
				}

				.fa-check {
					padding: 14px;
					border-radius: 50%;
					position: absolute;
					font-size: 15px;
					opacity: 0;
					top: 0px;
					left: 0px;

					&:before {
						.pointer;
					}

					@media (max-width: @screen-sm-max) {
						padding: 7px;
					}
				}

				.user-img,
				.user-icon {
					opacity: 1;
				}

				.fa-check,
				.user-img,
				.user-icon {
					.transition(.2s ease-in-out all);
				}

				float: left;
			}

			// .avatar .select:hover {
			// 	.user-img, .user-icon {
			// 		opacity: 0;
			// 	}

			// 	.fa-check {
			// 		border: 1px solid @brand-primary;
			// 		color: @brand-primary;
			// 		opacity: 1;
			// 	}
			// }

			&.selected {

				.select .user-img,
				.select .user-icon {
					opacity: 0;
				}

				.avatar .select .fa-check {
					opacity: 1;
					border: 1px solid @brand-success;
					color: @brand-success;
				}
			}

			.tag-list {
				display: inline-block;

				.tag {
					text-transform: uppercase;
					font-size: 10px;
					background: lighten(@gray-lighter, 2.5%);
					padding: 5px;
					white-space: nowrap;
				}
			}

			.fa-stack {
				font-size: 90%;
			}

			.card .user-icon {
				display: inline-block;
				.user-icon-style(24px, 1.5rem, 50%);
			}
		}

		&:last-child li {
			border-bottom: 0;
		}
	}

	.unread {
		.topic-title {
			font-weight: bold;
		}
	}
}

.category,
.categories,
.subcategory {
	>p {
		text-transform: uppercase;
		color: @gray-light;
	}

	.description {
		font-size: 1.2rem;
		font-weight: normal;
		line-height: 1.2;
		color: @gray-light;
		margin-top: 5px;
		min-height: 25px
	}

	.description,
	.category-children {
		margin-left: 62px;
	}

	.category-children {
		display: block;
		font-size: 15px;

		small {
			color: #999999;
		}
	}
}

.categories-title {
	text-transform: uppercase;
	color: @gray-light;
	margin: 0 0 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
}

[component="category-selector"],
.category-dropdown-container {
	.fa-stack {
		font-size: 65%;
	}
}

.category-dropdown-button {
	background-color: #fff !important;
	border: 0;
	box-shadow: none !important;
	padding: 1px 16px;
	border-right: 1px solid #eee;
	margin-right: 1px;
	border-radius: 0 !important;

	&:hover {
		background-color: #fff !important;
		box-shadow: none !important;
		border-right: 1px solid #eee !important;
	}

	&:active {
		background-color: #fff !important;
		box-shadow: none !important;
		// border-right: 1px solid #eee !important;		
	}

	>span {
		color: #999;
	}
}

.category-dropdown-menu {
	max-height: 500px;
	overflow-y: auto;
}

.merge-topic-card {
	position: fixed;
	bottom: 10%;
	right: 2rem;
	z-index: 1;

	.topics-section {
		text-align: center;
	}
}

.category-selector {
	width: 540px;

	.category {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		cursor: pointer;
		width: 78px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin-right: 12px;
		border-radius: 3px;

		&.active {
			background-color: #ec3c2e;
			color: #fff;
		}
	}
}

@media screen and (min-width: @screen-sm-min) {
	.merge-topic-card {
		max-width: 33%;
	}
}

.g-side-bar {
	margin-bottom: 100px;

	img {
		width: 100px;
		height: 100px;
		border-radius: 50px;
	}

	.username {
		margin-top: 18px;
		color: #233241;
		font-weight: bold;
		font-size: 14px;

		a {
			color: #233241;
		}
	}

	.description {
		margin-top: 10px;
		font-size: 12px;
		color: #666;
	}

	.msgcount {
		margin-top: 24px;

		span {
			color: #233241;
			font-weight: bold;
			font-size: 14px;

			a {
				color: #233241;
				display: block;
			}
		}
	}

	.msgname {
		span {
			color: #ababab;
			font-size: 12px;
			border-right: 1px solid #eee;
			height: 28px;
			line-height: 28px;

			a {
				color: #ababab;
				display: block;
			}

			&:last-child {
				border: 0;
			}
		}
	}

	.new-topic-btn {
		height: 40px;
		line-height: 20px;
		background-color: @bule-default;
		border: 0;
		margin-top: 36px;
		border-radius: 21px;

		&:hover {
			background-color: @bule-default-hover;
		}
	}

	.btn-reg {
		margin-top: 11px;
		background-color: #fff;
		height: 40px;
		line-height: 20px;
		border-radius: 21px;
		color: @bule-default;
		border: 1px solid @bule-default;

		&:hover {
			border: 1px solid @bule-default-hover;
			color: @bule-default-hover;
		}
	}

	.advert {
		margin-top: 10px;

		img {
			width: 100%;
			height: 100%;
			border-radius: 0;
		}
	}
}

.popular-side-bar {
	margin-top: 27px;

	.title {
		font-size: 14px;
		font-weight: bold;
		color: #233241;
		height: 38px;
		line-height: 38px;

	}

	ul {
		padding-left: 0;

		li {
			width: 100%;
			height: 28px;
			line-height: 28px;
			color: #ccc;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			a {
				font-size: 12px;
				color: #666;

				&:hover {
					color: @bule-default;
				}
			}
		}
	}
}

.nav-line {
	width: 100%;
	border-bottom: 1px solid #eee;
	position: absolute;
	left: 0;
	top: 222px;
}

.recent-title {
	// border-bottom:1px solid #eee;
	height: 50px;
	padding: 0;
	position: relative;
	margin-bottom: 10px;

	.category-select {
		float: left;
		width: 155px;
		height: 34px;
		// border-radius: 17px;
		margin-top: 8px;
		// border:1px solid #dcdfe6;
		padding: 7px 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		padding-bottom: 0;
		line-height: 25px;
		cursor: pointer;

		.category-title {
			height: 15px;
			line-height: 15px;
			border-right: 1px solid #dcdfe6;
			color: #606266;
			width: 86px;
			display: inline-block;
			padding-left: 18px;
			*display: inline;
			*zoom: 1;
		}

		.g-category-select-icon {
			margin-left: 5px;
		}

	}

	.nav-choose {
		float: left;

		span {
			height: 50px;
			line-height: 55px;
			font-size: 14px;
			margin: 0 20px;
			cursor: pointer;
			display: inline-block;
			*display: inline;
			*zoom: 1;

			a {
				color: #666;

				&:hover {
					color: #1d8ce0;
					font-weight: bold;
				}
			}

			&.choose {
				a {
					color: #1d8ce0;
					font-weight: bold;
				}

				border-bottom: 2px solid #1d8ce0;
			}
		}

		.choose {
			a {
				color: #16181d;
			}

			.g-all {
				background-position: -70px -24px;
				width: 18px;
				height: 18px;
				margin: 0 10px;
				margin-top: -8px;
			}

			.g-new {
				background-position: 0 -24px;
				width: 20px;
				height: 20px;
				margin: 0 10px;
				margin-top: -8px;
			}

			.g-hot {
				background-position: -42px -24px;
				width: 20px;
				height: 20px;
				margin: 0 10px;
				margin-top: -8px;
			}
		}

	}

	.category-select-dropdown {
		display: none;
		position: absolute;
		top: 53px;
		width: 121px;
		list-style: none;
		padding: 0;
		border: 1px solid #dcdfe6;
		background-color: #fff;
		border-radius: 6px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
		z-index: 3;

		li {
			height: 40px;
			line-height: 40px;
			text-align: center;
			cursor: pointer;
			color: #606266;

			&:first-child {
				border-radius: 0;
				margin-top: 10px;
			}

			&:last-child {
				border-radius: 0;
				margin-bottom: 10px;
			}

			&:hover {
				background-color: #f0f3f7;
				color: #208de0
			}
		}
	}
}

.recent {
	.topic-banner {
		height: 120px;
		background: url('images/topic-banner.png') center;
		position: absolute;
		left: 0;
		right: 0;
		top: 60px;
		z-index: -1;
		// &::before{
		// 	position: absolute;
		// 	content: "";
		// 	width:100%;
		// 	height: 100%;
		// 	background-color:rgba(0,0,0,0.8);
		// }

	}

	.topic-banner-container {
		width: 1170px;
		margin: 0 auto;
		position: absolute;
		z-index: 2;
		color: #ccc;
		text-align: center;
		top: 87px;
		overflow: hidden;

		p {
			margin: 0;
		}

		.headline {
			float: left;
			color: #fff;
			margin-left: 40px;

			.main-title {
				font-size: 24px;
				line-height: 45px;
				text-align: left;
			}

			.sub-title {
				font-size: 14px;
				line-height: 14px;
			}
		}

		.statistics {
			float: left;
			padding: 0 80px;
			overflow: hidden;

			.title {
				font-size: 14px;
				color: #ccc;
			}

			.num {
				color: #fff;
				font-size: 26px;
			}

			.statistics-daily {
				float: left;
				margin-right: 10px;
				width: 110px;
				text-align: center;
				margin-top: 14px;
			}

			.statistics-sum {
				float: left;
				margin-top: 14px;
				width: 110px;
				text-align: center;
			}

		}

		.personal {
			float: right;
			overflow: hidden;
			margin-top: 16px;

			>p {
				float: left;

				&.personal-name {
					font-size: 22px;
					color: #ccc;
					height: 60px;
					line-height: 60px;
					max-width: 400px;
					overflow: hidden;
					word-break: keep-all;
					white-space: nowrap;
					text-overflow: ellipsis;

					a {
						color: #ccc;
					}
				}

				// &.personal-newtopic{
				// 	color:#fff;
				// 	font-size:24px;
				// 	padding:0 30px;
				// 	line-height: 60px;
				// 	height: 60px;
				// 	float:right;
				// 	a{
				// 		height: 40px;
				// 		line-height: 40px;
				// 		font-size: 16px;
				// 		border-radius: 4px;
				// 		padding: 0 10px;
				// 	}
				// }
			}

			a {
				position: relative;

				.goldminerimg2.g-official {
					width: 20px;
					height: 18px;
					background-position: -100px -72px;
					position: absolute;
					top: 28px;
					left: 40px;
				}
			}
		}

		img {
			width: 60px;
			height: 60px;
			border-radius: 30px;
		}

		a {
			margin-right: 20px;
		}

	}

	.category {
		background-color: #fff;
		border-radius: 8px 8px 0 0;
		padding: 40px;
		margin-top: 120px;
		// position: absolute;
		width: 1170px;
		top: 246px;
		z-index: 3;

		.nav-choose {
			width: 100%;
			padding: 12px 0;
			border-bottom: 1px solid #ebeff1;

			>span {
				padding: 0 15px;
				display: inline-block;
				*display: inline;
				*zoom: 1;
			}

			a {
				font-size: 18px;
				color: #a6a7aa;
			}

			.choose {
				a {
					color: #16181d;
				}

				.g-all {
					background-position: -60px -21px;
					width: 20px;
					height: 20px;
					margin: 0 4px;
					margin-top: -8px;
					vertical-align: middle;
				}

				.g-new {
					background-position: 0 -20px;
					width: 20px;
					height: 20px;
					margin: 0 4px;
					margin-top: -8px;
					vertical-align: middle;
				}

				.g-hot {
					background-position: -42px -20px;
					width: 20px;
					vertical-align: middle;
					height: 20px;
					margin: 0 4px;
					margin-top: -8px;
				}
			}

			.search-result {
				font-size: 24px;
				color: #a6a7aa;
				padding-left: 85px;
			}

			.bbs-search {
				float: right;
				margin-right: 28px;

				.search-form {
					height: 32px;
					margin: 0;
					vertical-align: middle;
					border: 0;
					border: 1px solid #ebeff1;
					padding-left: 8px;
					border-radius: 4px;
					width: 230px;
					outline: 0;
				}

				.search-btn {
					font-size: 14px;
					color: #fff;
					border-radius: 4px;
					padding: 0 20px;
					height: 32px;
					line-height: 32px;

				}
			}
		}

		.recent-container {
			padding: 0 15px;
			position: relative;
			min-height: 660px;

			.container-topic-list {
				margin-right: 313px;
			}

			.container-side-right {
				width: 274px;
				position: absolute;
				right: 40px;
				top: 50px;
				height: 100%;
				border-left: 1px solid #eee;
				padding-left: 20px;

				.personal-newtopic {
					color: #fff;
					font-size: 24px;
					line-height: 60px;
					height: 60px;
					margin-right: 110px;

					a {
						height: 36px;
						line-height: 36px;
						font-size: 14px;
						border-radius: 4px;
						padding: 0 10px;
						color: #fff;
					}
				}

				a {
					color: #666;
				}

				.title {
					margin: 10px 0 12px;
				}

				ul {
					// width:120px;
					padding: 0;
					padding-bottom: 10px;

					li {
						cursor: pointer;
					}
				}

				.main-labels {
					list-style: none;
					margin-bottom: 10px;
					background-color: #fbfbfb;
					height: 28px;
					padding: 0 18px;
					border: 1px solid #ebeff1;
					border-radius: 14px;
					font-size: 14px;
					color: #666;
					display: inline-block;
					*display: inline;
					*zoom: 1;
					line-height: 28px;
				}

				.advert {
					padding-left: 12px;
					margin-top: 14px;

					img {
						width: 250px;
						height: 95px;
						margin-top: 15px;
					}
				}

				.hotTopic-ico {
					display: inline-block;
					*display: inline;
					*zoom: 1;
					width: 18px;
					height: 18px;
					background: url('images/myquant1.png');
					background-position: 200px 0;
					vertical-align: middle;
					margin-right: 8px;
				}

				.hotTopic {
					padding-left: 16px;

					li {
						font-size: 12px;
						color: #666;
						line-height: 22px;

						a {
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;

							&:hover {
								color: #1d8ce0;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: @screen-lg) {
	.recent {
		.topic-banner {}

		.category {
			width: 100%;

			.topic-list .topic-container .topic-list-container .title {
				a {
					max-width: 520px;
				}
			}
		}

		.topic-banner-container {
			width: 100%;
			left: 0;

			.headline {
				margin-left: 100px;
			}

			.personal {
				margin-right: 72px;
			}
		}
	}
}

@media (max-width: @screen-md) {
	.recent .category .recent-container .container-topic-list {
		margin-right: 0;
	}
}

@media (max-width: @screen-sm-max) {
	.category-select {
		width: 121px !important;
	}
}

@media (max-width: @screen-sm) {
	.topic-banner {
		position: static;
	}

	.goldminerimg2.g-official {
		top: 33px;
		left: 30px;
	}

	.recent {
		.topic-banner {
			position: relative;
			z-index: 2;
			top: -110px;
			height: 350px;
		}

		.topic-banner-container {
			width: 100%;

			.headline {
				float: none;
				margin-left: 0;

				.main-title {
					text-align: center !important;
					font-size: 36px;
				}

				.sub-title {
					font-size: 18px;
				}
			}

			.personal {
				margin-top: 4px;
				float: none;
				margin: 0 auto;
				margin-top: 10px;
			}

			.personal>p {
				float: none;
			}

			.personal>p.personal-newtopic {
				float: none;

				a {
					margin: 0;
					height: 40px;
					line-height: 40px;
					font-size: 16px;
					border-radius: 4px;
					padding: 0 10px;
				}
			}
		}

		.category {
			margin-top: 0;
			width: 100%;
			margin-top: -110px;

			.topic-list {
				padding: 0;

				.topic-container {
					.user-info {
						.avatar-container {
							img {
								width: 50px;
								height: 50px;
								border-radius: 25px;
								top: 0;
								margin-top: 0;
								position: absolute;
								left: 0;
							}

						}
					}

					.topic-list-container {
						padding: 0;

						.date-phone {
							position: absolute;
							left: 80px;
							top: 14px;

							p {
								color: #d6d6d6;
								font-size: 14px;
							}
						}

						.title {
							margin-left: 64px;
							margin-top: 35px;

							.hasPinned {
								position: absolute;
								top: 12px;
								right: 14px;
							}

							.hasHighLighted {
								position: absolute;
								top: 12px;
								right: 50px;
							}

							a {
								font-size: 20px;
								width: 100%;
								line-height: 31px;
								max-height: 65px;
								white-space: normal;
								/* overflow: hidden; */
								/* text-overflow: ellipsis; */
								/* vertical-align: middle; */
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 2;
								overflow: hidden;
								word-wrap: break-word;
							}
						}

						.topic-list-detail {
							.detail-left {
								margin: 0;

								.detail-all-label {
									margin-bottom: 42px;

									.detail-label {
										font-size: 12px;
										padding: 0 10px;
										margin-right: 4px;
									}
								}

								p {
									max-height: 66px;
									margin-top: 15px;
								}
							}

							.detail-right {
								bottom: -28px;
								top: auto;
								left: 0;
							}
						}

					}
				}
			}

			.recent-container {
				padding: 0 14px;

				.container-topic-list {
					margin: 0;
				}
			}

			.nav-choose {
				.all-category {
					padding-left: 2px !important;
				}

				>span {
					padding: 0;
				}

				padding:6px 0;

				a {
					font-size: 18px;
				}

				.choose {
					a {
						font-size: 18px;
					}
				}
			}
		}

	}

	.category {
		margin-top: 0;
		width: 100%;
		margin-top: -110px;

		.visible-nav-show {
			float: right;
			position: absolute;
			top: -36px;
			right: 0px;
			border: 0;
		}

		.nav-phone-visible-xs {
			li {
				height: 36px;
				line-height: 36px;
				color: #666;
				text-align: left;
			}
		}

		.topic-list {
			padding: 0;

			.topic-container {
				.user-info {
					.avatar-container {
						img {
							width: 50px;
							height: 50px;
							border-radius: 25px;
							top: 0;
							margin-top: 0;
							position: absolute;
							left: 0;
						}

					}
				}

				.topic-list-container {
					padding: 0;

					.date-phone {
						position: absolute;
						left: 80px;
						top: 14px;

						p {
							color: #d6d6d6;
							font-size: 14px;
						}
					}

					.title {
						margin-left: 64px;
						margin-top: 35px;

						.hasPinned {
							position: absolute;
							top: 12px;
							right: 14px;
						}

						.hasHighLighted {
							position: absolute;
							top: 12px;
							right: 50px;
						}

						a {
							font-size: 20px;
							width: 100%;
							line-height: 31px;
							max-height: 65px;
							white-space: normal;
							/* overflow: hidden; */
							/* text-overflow: ellipsis; */
							/* vertical-align: middle; */
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 2;
							overflow: hidden;
							word-wrap: break-word;
						}
					}

					.topic-list-detail {
						.detail-left {
							margin: 0;

							.detail-all-label {
								margin-bottom: 42px;

								.detail-label {
									font-size: 12px;
									padding: 0 10px;
									margin-right: 4px;
								}
							}

							p {
								max-height: 66px;
								margin-top: 15px;
							}
						}

						.detail-right {
							bottom: -28px;
							top: auto;
							left: 0;
							width: 173px;
						}
					}

				}
			}
		}

		.recent-container {
			padding: 0 14px;

			.container-topic-list {
				margin: 0;
			}
		}

		.nav-choose {
			>span {
				padding: 0;
			}

			padding:6px 0;

			a {
				font-size: 18px;
			}

			.categorylink {
				font-size: 14px !important;
				color: #666 !important;
				height: 36px;
				line-height: 36px;
			}

			.choose {
				a {
					font-size: 18px;
				}
			}
		}
	}
}

.zoomify {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.zoomify.zoomed {
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	position: relative;
	z-index: 1501;
}

.zoomify-shadow {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999;
	background: rgba(0, 0, 0, .3);
}

.zoomify-shadow.zoomed {
	opacity: 1;
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}


.topic-list-container .markedT {
	color: #ec3c2e !important;
}