/*header start*/

/*header start*/

#header {
  position: absolute;
  color: #ffffff;
  height: 60px;
  width: 100%;
  z-index: 9999;
  padding: 0px;
  top: 0px;
  left: 0px;
}

#header .container-fluid {
  padding: 0px;
}

#header .navbar-header {
  padding-left: 0px;
}

#header .navbar {
  border-radius: 0px;
  height: 60px !important;
  min-height: 60px;
}

#header .dropdown-menu {
  min-width: 105px;
}

#header .navbar-default {
  color: #666;
  background-color: #ffffff;
  border-color: #F0F0F0;
}

#header .navbar-toggle {
  margin-top: 13px;
  background-color: transparent !important;
  margin-right: 15px;
}

#header .navbar-default .navbar-collapse {
  // border-bottom: 1px solid #F0F0F0;
  padding: 0px 30px;
}

#header .navbar-nav {
  padding: 0;
}

#header .navbar-nav li {
  padding: 0;
}

#header .navbar-nav>li>a {
  font-size: 14px;
  background-color: transparent;
  color: #666;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#header .navbar-nav .official {
  margin-left: 15px;
}

#header .navbar-nav>li>a.official {
  font-size: 12px;
  color: #A3A3A3;
}

#header .navbar-left>li>a {
  font-size: 14px;
  color: #cacbe4;
}

#header .navbar-brand {
  padding: 10px 0px 10px 0px;
  margin-right: 18px;
  margin-left: 0px;
}

#header .navbar-brand .visible-xs {
  margin-left: 30px;
}

#header .navbar-brand .hidden-xs {
  margin-left: 15px;
}

#header .nav .glyphicon-user:before {
  margin-right: 4px;
}

#header .navbar-default a {
  font-size: 14px;
}

#header .navbar-collapse.in {
  position: relative;
  z-index: 999;
  background-color: #162028;
  padding: 0px 30px;
  margin-top: 5px;
  background-color: #ffffff;
  padding: 0px;
  margin: 0;
}

#header .navbar-collapse.collapsing {
  margin-top: 5px;
  background-color: #ffffff;
  padding: 0px;
}

#header .navbar-collapse.in li>a,
#header .navbar-collapse.collapsing li>a {
  padding-left: 15px;
  padding-right: 15px;
}

#header .navbar-collapse.in li>a.official,
#header .navbar-collapse.collapsing li>a.official {
  padding-left: 0px;
  padding-right: 0px;
}

#header .navbar-collapse.in .navbar-right,
#header .navbar-collapse.collapsing .navbar-right {
  margin-left: 15px;
}

#header .navbar-collapse.in .dropdown-menu {
  padding-left: 15px;
}

#header .navbar-collapse.in .navbar-nav>li,
#header .navbar-collapse.collapsing .navbar-nav li {
  border-bottom: 1px solid #f1efee;
}

#header .navbar-collapse.in .navbar-nav,
#header .navbar-collapse.collapsing .navbar-nav {
  margin: 0px 15px;
}

#header .nav-avatar {
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

#header .goldminerimg2.g-official {
  top: 28px;
  left: 24px;
}

#header a.nav-reg {
  background-color: #EC3C2E !important;
  color: #ffffff !important;
  border-radius: 4px;
  padding: 10px 20px !important;
  line-height: 100% !important;
  margin-top: 13px;
  height: auto;
}

#header a.nav-login {
  height: auto;
  margin-left: 10px;
  background-color: #F1F1F1 !important;
  border-radius: 4px;
  padding: 10px 20px !important;
  line-height: 100% !important;
  margin-top: 13px;
}

#header .nav li.divider {
  padding: 0px;
}

#header .nav .dropdown-menu {
  border-top: 0px;
  margin-top: -1px;
  border-radius: 0px;
  border: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#header .dropdown-menu li a {
  line-height: 38px;
  color: #333;
}

#header .dropdown-menu li button {
  padding: 10px 20px;
}

#header .dropdown-menu li button:hover {
  color: #3489f9;
  background-color: #fff;
}

#header .dropdown-menu li a[href='javascript:void(0);'] {
  cursor: not-allowed;
  color: #7b7979 !important
}

#header .dropdown-menu li a.highlight {
  color: #DCDEE1 !important;
  cursor: pointer;
}

#header .dropdown-menu li {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
}

#header .dropdown-menu li ul>li>a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  text-indent: 3em;
  line-height: 34px;
}

#header .in .dropdown-menu li ul>li>a {
  text-indent: 1em;
}

#header .dropdown-menu li {
  position: relative;
}

#header .dropdown-menu li.active>a:first-child {
  color: #3489F9;
}

#header .dropdown-menu li b.caret {
  position: absolute;
  left: 75px;
  top: 23px;
  cursor: pointer;
}

#header .dropdown-menu .sub-menu {
  display: none;
}

#header .dropdown-menu .sub-menu li {
  list-style: none;
}

#header .dropdown-menu li a {
  background-color: transparent;
}

#header .dropdown-menu li a:hover {
  color: #3489F9;
}

#header .navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 9px;
}

#header .navbar-form .form-control {
  min-width: 250px;
  background-color: transparent;
  border-color: #545F6A !important;
  color: #A5ABB1;
  height: 28px;
  line-height: 28px;
  box-shadow: none !important;
  border-radius: 4px;
}

#header .navbar-form .form-group {
  position: relative;
}

#header form .fa-search {
  position: absolute;
  left: unset;
  right: 10px;
  top: 7px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

#header .nav-main {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
}

#header .nav-line {
  line-height: 60px;
  color: #efefef;
  width: auto;
  position: static;
  top: 0;
  border: 0;
  left: 0;
  padding: 0;
}

#header .nav-line li {
  padding: 0;
}

#header .nav-contact {
  margin-top: 17px;
}

#header .nav-contact a {
  height: 20px;
  width: 20px;
  overflow: hidden;
  display: block;
  padding: 0px !important;
  margin-right: 20px;
}

#header .icon-qq:hover {
  background: url("../images/icon-nav.png") 0px -91px;
}

#header .icon-wechat:hover {
  background: url("../images/icon-nav.png") -20px -91px;
}

#header .icon-email:hover {
  background: url("../images/icon-nav.png") -40px -91px;
}

#header .icon-mobile:hover {
  background: url("../images/icon-nav.png") -60px -91px;
}

#header .icon-qq {
  background: url("../images/icon-nav.png") 0px -71px;
}

#header .icon-wechat {
  background: url("../images/icon-nav.png") -20px -71px;
}

#header .icon-email {
  background: url("../images/icon-nav.png") -40px -71px;
}

#header .icon-mobile {
  background: url("../images/icon-nav.png") -60px -71px;
}

/*header end*/

/*footer start*/

#footer {
  border-top: 5px solid #EC3C2E;
  background-color: #20232a;
  color: #a6a7aa;
  padding-left: 0px;
  padding-right: 0px;
}

#footer-bottom {
  background-color: #16181d;
  color: #ffffff;
  line-height: 40px;
  font-size: 12px;
  width: 100%;
  z-index: 99;
}

#footer .container {
  padding-top: 60px;
  padding-bottom: 40px;
}

#footer .container .item {
  float: left;
  min-width: 100px;
  margin-right: 70px;
}

#footer .container .item li a {
  line-height: 170%;
}

#footer .container .qrcode {
  float: right;
  margin-right: 0px;
}

#footer .container a {
  color: #a6a7aa
}

#footer .container .strong {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 15px;
}

#footer-bottom {
  padding: 0px 15px;
}

#footer a[href='javascript:void(0);'] {
  cursor: default;
  text-decoration: none;
}

#footer-bottom a {
  color: #ffffff;
}

#footer-bottom .pull-left {
  margin-right: 15px;
}

#footer-bottom .pull-right img {
  height: 30px
}

#footer .qrcode-item {
  float: right;
  text-align: center;
  color: #ffffff;
  margin-left: 15px;
}

#footer .qrcode-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

#footer .qrcode-item .mq-btn {
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  color: #ffffff;
  background-color: #EC3C2E;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}

#footer ul {
  padding: 0;
}

#footer ul li {
  padding: 0;
  list-style: none;
}

/*func-bar start*/

#func-bar {
  width: 50px;
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: 50px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #888;
}

#func-bar ul,
#func-bar li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#func-bar li>a {
  border-bottom: 1px solid #F6F8FA;
  padding: 6px 0px;
  display: inline-block;
  width: 50px;
  color: #7B7B7D;
  text-decoration: none;
  font-size: 12px;
}

#func-bar li a .fa {
  font-size: 20px;
  color: #d2d2d2;
}

#func-bar li a.top {
  border-bottom: 0px;
}

#func-bar li a.qqgroup {
  background-color: #208DE1;
  height: 55px;
  color: #ffffff !important;
  padding-top: 10px;
}

#func-bar li a:hover {
  color: #EC3C2E;
}

#func-bar li a:hover .fa {
  color: #EC3C2E;
}

#func-bar li a img {
  margin: 8px auto;
}

#func-bar li {
  border-top: 1px solid #EFEFEF;
}

#func-bar .qqgroup-show {
  width: 270px;
  position: absolute;
  right: 50px;
  top: 0px;
  text-align: left;
  background-color: #ffffff;
  box-shadow: -2px 2px 5px #E8E7E7;
  color: #373839;
  font-size: 16px;
  display: none;
  cursor: pointer;
}

#func-bar .qqgroup-show-left {
  float: left;
}

#func-bar .qqgroup-show-left img {
  height: 106px;
}

#func-bar .qqgroup-show-right {
  line-height: 25px;
  padding: 15px 0px;
}

#func-bar .qqgroup-show-right li {
  font-size: 14px;
  color: #9A9A9A;
}

#func-bar .qqgroup-show-right a {
  display: inline-block;
  color: #208DE1 !important;
  border: 1px solid #208DE1;
  padding: 2px 5px;
  line-height: 1;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
}

#func-bar li {
  position: relative;
}

#func-bar .tips {
  display: none;
}

#func-bar li:hover .tips {
  position: absolute;
  right: 55px;
  top: 8px;
  height: 34px;
  line-height: 34px;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  background-color: #1a1a1a;
  border-radius: 4px;
  padding: 0px 5px;
}

#func-bar .tips .fa {
  color: #1a1a1a;
  margin-right: -9px;
}

/*func-bar end*/

/*移动端*/

/*header start*/

// #header{position:absolute;color: #ffffff;height: 45px;width:100%;z-index:1;padding: 0px;top:0px;left: 0px;}
// #header .container-fluid{padding: 0px;}
// #header .navbar-header{padding-left: 0px;padding-right: 15px;}
// #header .navbar-nav{padding-left:4px;}
// #header .navbar{border-radius: 0px;border:0px;height: 45px !important;min-height: 45px;}
// #header .navbar-header{margin-top:-5px;}
// /*#header .navbar-default{color: #ffffff;background-color:transparent;}*/
// #header .navbar-default{color: #ffffff;background-color:#050611;}
// #header .navbar-toggle{padding:7px 10px;margin-top:12px;background-color: transparent !important;}
// #header .navbar-default .navbar-collapse{border-bottom: 0px solid #162028;padding: 0px 30px;}
// #header .in .nav .dropdown-menu{background-color: #162028;}
// #header .navbar-nav>li>a{padding:5px 7px 9px;font-size: 14px;background-color: transparent;color: #cac9e4;}
// #header .navbar-nav>li>a:hover{color: #3489F9;}
// #header .navbar-nav>li>a.official{font-size: 12px;color: rgba(255,255,255,0.8)}
// #header .navbar-left>li>a{font-size:14px;color: #cacbe4;}
// #header .navbar-brand{padding: 8px 5px 5px;padding-left:0px;margin-left:0px;}
// #header .navbar-brand .hidden-xs{margin-left: 15px;}
// #header .nav .glyphicon-user:before{margin-right:4px;}
// #header .navbar-brand img{height: 38px;}
// #header .navbar-default a{color: rgba(255,255,255,.6);font-size:14px;}
// #header .navbar-nav>li.active>a{height: auto;}
// #header .navbar-collapse.in{position: relative;z-index: 999;background-color: #162028;padding: 0px 30px;}
// #header .nav li{margin:0 15px;padding:8px 0 0 0;}
// #header .nav li .user-img{width:28px;height: 28px;border-radius: 14px;border:1px solid #050611;}
// #header .nav li a{height:36px}
// #header .nav li.divider{padding:0px;}
// #header .nav .dropdown-menu{border-color: #4E5A66;border-top: 0px;background-color: rgba(3,8,18,0.8);margin-top:4px;border-radius: 4px;}
// #header .dropdown-menu li a{line-height: 44px;height:44px;color:#fff;}
// #header .dropdown-menu li a[href='javascript:void(0);']{cursor: auto;color: #999 !important;}
// #header .noticeBell{width: 8px;height: 8px;display: block;position: absolute;background-color: #f12b16;top: 5px;left: 27px;border-radius: 4px;}
// #header .noticeBellNav {top:21px;left:86px;}
// #header .dropdown-menu li a.highlight{color:#DCDEE1 !important;}
// #header .dropdown-menu li{margin-left: 0px;margin-right: 0px;padding-top:0px;}
// #header .dropdown-menu li ul>li>a{display: block;text-decoration: none;font-size: 12px;text-indent: 3em;line-height: 34px;}
// #header .dropdown-menu li {position: relative;}
// #header .dropdown-menu li b.caret{position: absolute;right: 15px;top:20px;cursor: pointer;}
// #header .dropdown-menu .sub-menu{display: none;padding-left:0}
// #header .dropdown-menu>li:hover{background-color:#384654 !important;}
// #header .btn-link:hover{background-color:transparent!important;}
// #header .dropdown-menu li a{background-color: transparent;}
// #header .dropdown-menu li .logoutBtn{line-height: 38px;color: #fff}
// #header .dropdown-menu li a:hover{background-color:#384654;color:#fff;}
// #header .navbar-form{margin-top: 0px;margin-bottom: 0px;padding-top:9px;}
// #header .navbar-form .form-group{border-radius: 40px;border:1px solid #545F6A}
// #header .navbar-form .form-control{background-color: transparent;border-color: #545F6A !important;color: #A5ABB1;height: 28px;box-shadow: none !important;border-radius: 4px;border:0;}
// #header .btn-all{margin-top: 2px;background-color: transparent;border:1px solid #01B2B2;color: #01B2B2;padding: 4px 15px;}
// #header .navbar-form .form-group{position: relative;}
// #header form .fa-search{position: absolute;left: unset;right: 10px;top:7px;cursor: pointer;color: rgba(255,255,255,0.6);}
// /*header end*/
// #footer{padding:30px;background-color: #fafafa;width:100%; box-sizing:border-box;}
// #footer .container{width:100%;margin:0 auto;overflow: hidden;}
// #footer .container .footerList{float:left;}
// #footer .container .footerList .strong{color:#091746;font-weight: bold;line-height: 34px;}
// #footer .container .footerList ul{padding:0; margin:0;}
// #footer .container .footerList ul li{list-style: none; font-size:14px; line-height: 22px;}
// #footer .container .footerList li a{text-decoration:none;color:#999;}
// #footer .container .footerList1{width:170px;}
// #footer .container .footerList2{width:180px;}
// #footer .container .footerList3{width:180px;}
// #footer .container .footerList4{width:100%;}
// #footer .container .footerList5{overflow: hidden;}
// #footer .container .footerList5 .quickMark{ font-size:14px; float:left; margin-top:10px;}
// #footer .container .footerList5 .quickMark img{ width:100px; height:100px;}
// #footer .container .footerList5 .help-block{text-align: center;color:#6f6d7a;line-height: 30px;height: 30px;}
// #footer{padding:30px 0px;width:100%;}
// #footer .container{width:1280px;margin:0 auto;overflow: hidden;}
// #footer .container .footerList{float:left;}
// #footer .container .footerList .strong{color:#091746;font-weight: bold;line-height: 34px;}
// #footer .container .footerList ul{padding:0; margin:0;}
// #footer .container .footerList ul li{list-style: none; font-size:14px; line-height: 22px;}
// #footer .container .footerList li a{text-decoration:none;}
// #footer .container .footerList1{width:170px;}
// #footer .container .footerList2{width:180px;}
// #footer .container .footerList3{width:180px;}
// #footer .container .footerList4{width:488px;}
// #footer .container .footerList5{ float:right;overflow: hidden;}
// #footer .container .footerList5 .quickMark{ font-size:14px; float:left; margin:5px;}
// #footer .container .footerList5 .quickMark img{ width:100px; height:100px;}
// #footer .container .footerList5 .help-block{text-align: center;color:#6f6d7a;line-height: 30px;height: 30px;}
// #footer .container {
//     .container-fixed();
//     @media (min-width: @screen-sm-min) {
//       width: @container-sm;
//     }
//     @media (min-width: @screen-md-min) {
//       width: @container-md;
//     }
//     @media (min-width: @screen-lg-min) {
//       width: @container-lg;
//     }
//   }
//  /*footer*/
//  #footer-bottom{background-color: #2C3E50;
//     color: #A3ABB3;
//     border-top: 1px solid #425262;
//     line-height: 38px;
//     font-size: 12px;
//     position: fixed;
//     bottom: 0px;
//     left: 0px;
//     width: 100%;
//     z-index: 1020;}
// #footer-bottom .pull-right{float: right}
// #footer-bottom .pull-right img{height:30px;}
// #footer-bottom .pull-right span{display: inline-block;}
// @media (max-width: @screen-sm-min) {
//   /*footer start*/
//   /*header*/
//   body #header .container-fluid{overflow-x: hidden;}
//   body #header .navbar-default .navbar-collapse{background-color: #08132c;}
//   body #header .navbar-default #example-navbar-search{background-color: #233241}
//   #header .navbar-form{padding-top: 12px;}
//   #header .navbar-nav>li>a.official{font-size: 14px;color: #ffffff;}
//   #header .navbar-nav>li.active>a{border-bottom: 3px solid transparent;}
//   #header .navbar-toggle-search{margin-top:9px;padding: 6px 10px 4px;color: #888}
//   #footer{padding:30px;background-color: #fafafa;width:100%; box-sizing:border-box;}
//   #footer .container{width:100%;margin:0 auto;overflow: hidden;}
//   #footer .container .footerList{float:left;}
//   #footer .container .footerList .strong{color:#091746;font-weight: bold;line-height: 34px;}
//   #footer .container .footerList ul{padding:0; margin:0;}
//   #footer .container .footerList ul li{list-style: none; font-size:14px; line-height: 22px;}
//   #footer .container .footerList li a{text-decoration:none;color:#999;}
//   #footer .container .footerList1{width:170px;}
//   #footer .container .footerList2{width:180px;}
//   #footer .container .footerList3{width:180px;}
//   #footer .container .footerList4{width:100%;}
//   #footer .container .footerList5{overflow: hidden;}
//   #footer .container .footerList5 .quickMark{ font-size:14px; float:left; margin-top:10px;}
//   #footer .container .footerList5 .quickMark img{ width:100px; height:100px;}
//   #footer .container .footerList5 .help-block{text-align: center;color:#6f6d7a;line-height: 30px;height: 30px;}
//   #footer-bottom{
//     position: relative !important;
//     width: 100%;
//     line-height: 200%;
//     z-index: 0;
//     }
//   #footer-bottom .pull-right{float: left !important;display: block;clear: both;}
//   #footer-bottom .pull-right span{display: inline-block;}
// }
/*header start*/

#header {
  position: absolute;
  color: #ffffff;
  height: 60px;
  width: 100%;
  z-index: 9999;
  padding: 0px;
  top: 0px;
  left: 0px;
}

#header .container-fluid {
  padding: 0px;
}

#header .navbar-header {
  padding-left: 0px;
}

#header .navbar {
  border-radius: 0px;
  height: 60px !important;
  min-height: 60px;
}

#header .dropdown-menu {
  min-width: 105px;
}

#header .navbar-default {
  color: #666;
  background-color: #ffffff;
  border-color: #F0F0F0;
}

#header .navbar-toggle {
  margin-top: 13px;
  background-color: transparent !important;
  margin-right: 15px;
}

#header .navbar-default .navbar-collapse {
  // border-bottom: 1px solid #F0F0F0;padding: 0px 30px;
}

#header .navbar-nav {
  padding: 0;
}

#header .navbar-nav li {
  padding: 0;
}

#header .navbar-nav>li>a {
  font-size: 14px;
  background-color: transparent;
  color: #666;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#header .navbar-nav .official {
  margin-left: 15px;
}

#header .navbar-nav>li>a.official {
  font-size: 12px;
  color: #A3A3A3;
}

#header .navbar-left>li>a {
  font-size: 14px;
  color: #cacbe4;
}

#header .navbar-brand {
  padding: 10px 0px 10px 0px;
  margin-right: 18px;
  margin-left: 0px;
}

#header .navbar-brand .visible-xs {
  margin-left: 30px;
}

#header .navbar-brand .hidden-xs {
  margin-left: 15px;
}

#header .nav .glyphicon-user:before {
  margin-right: 4px;
}

#header .navbar-default a {
  font-size: 14px;
}

#header .navbar-collapse.in {
  position: relative;
  z-index: 999;
  background-color: #162028;
  padding: 0px 30px;
  margin-top: 5px;
  background-color: #ffffff;
  padding: 0px;
  margin: 0;
}

#header .navbar-collapse.collapsing {
  margin-top: 5px;
  background-color: #ffffff;
  padding: 0px;
}

#header .navbar-collapse.in li>a,
#header .navbar-collapse.collapsing li>a {
  padding-left: 15px;
  padding-right: 15px;
}

#header .navbar-collapse.in li>a.official,
#header .navbar-collapse.collapsing li>a.official {
  padding-left: 0px;
  padding-right: 0px;
}

#header .navbar-collapse.in .navbar-right,
#header .navbar-collapse.collapsing .navbar-right {
  margin-left: 15px;
}

#header .navbar-collapse.in .dropdown-menu {
  padding-left: 15px;
}

#header .navbar-collapse.in .navbar-nav>li,
#header .navbar-collapse.collapsing .navbar-nav li {
  border-bottom: 1px solid #f1efee;
}

#header .navbar-collapse.in .navbar-nav,
#header .navbar-collapse.collapsing .navbar-nav {
  margin: 0px 15px;
}

#header .nav-avatar {
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

#header a.nav-reg {
  background-color: #EC3C2E !important;
  color: #ffffff !important;
  border-radius: 4px;
  padding: 10px 20px !important;
  line-height: 100% !important;
  margin-top: 13px;
  height: auto;
}

#header a.nav-login {
  height: auto;
  margin-left: 10px;
  background-color: #F1F1F1 !important;
  border-radius: 4px;
  padding: 10px 20px !important;
  line-height: 100% !important;
  margin-top: 13px;
}

#header .nav li.divider {
  padding: 0px;
}

#header .nav .dropdown-menu {
  border-top: 0px;
  margin-top: -1px;
  border-radius: 0px;
  border: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#header .dropdown-menu li a {
  line-height: 38px;
  color: #333;
}

#header .dropdown-menu li button {
  padding: 10px 20px;
}

#header .dropdown-menu li button:hover {
  color: #3489f9;
  background-color: #fff;
}

#header .dropdown-menu li a[href='javascript:void(0);'] {
  cursor: not-allowed;
  color: #7b7979 !important
}

#header .dropdown-menu li a.highlight {
  color: #DCDEE1 !important;
  cursor: pointer;
}

#header .dropdown-menu li {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
}

#header .dropdown-menu li ul>li>a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  text-indent: 3em;
  line-height: 34px;
}

#header .in .dropdown-menu li ul>li>a {
  text-indent: 1em;
}

#header .dropdown-menu li {
  position: relative;
}

#header .dropdown-menu li.active>a:first-child {
  color: #3489F9;
}

#header .dropdown-menu li b.caret {
  position: absolute;
  left: 75px;
  top: 23px;
  cursor: pointer;
}

#header .dropdown-menu .sub-menu {
  display: none;
}

#header .dropdown-menu .sub-menu li {
  list-style: none;
}

#header .dropdown-menu li a {
  background-color: transparent;
}

#header .dropdown-menu li a:hover {
  color: #3489F9;
}

#header .dropdown-menu li a.highlight.show-sub-menu {
  color: #333333 !important;
}

#header .navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 9px;
}

#header .navbar-form .form-control {
  min-width: 250px;
  background-color: transparent;
  border-color: #545F6A !important;
  color: #A5ABB1;
  height: 28px;
  line-height: 28px;
  box-shadow: none !important;
  border-radius: 4px;
}

#header .navbar-form .form-group {
  position: relative;
}

#header form .fa-search {
  position: absolute;
  left: unset;
  right: 10px;
  top: 7px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

#header .nav-main {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
}

#header .nav-line {
  line-height: 60px;
  color: #efefef;
  width: auto;
  position: static;
  top: 0;
  border: 0;
  left: 0;
  padding: 0;
}

#header .nav-line li {
  padding: 0;
}

#header .nav-contact {
  margin-top: 17px;
}

#header .nav-contact a {
  height: 20px;
  width: 20px;
  overflow: hidden;
  display: block;
  padding: 0px !important;
  margin-right: 20px;
}

#header .icon-qq:hover {
  background: url("../images/icon-nav.png") 0px -91px;
}

#header .icon-wechat:hover {
  background: url("../images/icon-nav.png") -20px -91px;
}

#header .icon-email:hover {
  background: url("../images/icon-nav.png") -40px -91px;
}

#header .icon-mobile:hover {
  background: url("../images/icon-nav.png") -60px -91px;
}

#header .icon-qq {
  background: url("../images/icon-nav.png") 0px -71px;
}

#header .icon-wechat {
  background: url("../images/icon-nav.png") -20px -71px;
}

#header .icon-email {
  background: url("../images/icon-nav.png") -40px -71px;
}

#header .icon-mobile {
  background: url("../images/icon-nav.png") -60px -71px;
}

#header .nav-hover ul,
.nav-hover li,
.show-in-computer ul,
.show-in-computer li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#header .nav-hover .hover-menu a {
  color: #666;
  line-height: 250%;
  text-decoration: none;
}

#header .nav-hover .hover-menu a:hover {
  color: #3489F9
}

#header .nav-hover .hover-menu {
  height: 0px;
  border: none;
  overflow: hidden;
}

#header .nav-hover:hover .hover-menu {
  padding: 5px 15px;
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: -1px;
  box-shadow: 1px 1px 0px #eee;
  border-left: 1px solid #efefef;
  height: auto;
}

#header .nav-hover .hover-menu li {
  width: auto;
}

#header .show-in-computer .computer-menus {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  border: 0px;
  position: fixed;
  top: 60px;
  left: 100px;
}

#header .show-in-computer:hover .computer-menus {
  background-color: #ffffff;
  max-width: 950px;
  padding: 5px 15px 10px 15px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: -1px;
  box-shadow: 1px 1px 0px #eee;
  border-left: 1px solid #efefef;
  height: auto;
  overflow-y: auto;
  max-height: 800px;
}

#header .show-in-computer li>a {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 160%;
  color: #666;
  text-decoration: none;
  font-size: 13px !important;
  max-width: 100%;
}

#header .caret-reverse {
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 999;
}

li:hover .caret-reverse b {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 8px dashed #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

#header .show-in-computer li:first-child {
  font-weight: bold;
  font-size: 15px;
  color: #000;
  margin-bottom: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddddd;
}

#header .show-in-computer li:first-child a {
  color: #000;
}

#header .show-in-computer li>a:hover {
  color: #3489F9;
}

#header .show-in-computer ul {
  width: 170px;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}

#header .nav-transparent .nav-hover a.dropdown-toggle span {
  color: #fff !important;
}

/*header end*/

/*footer start*/

#footer {
  border-top: 5px solid #EC3C2E;
  background-color: #20232a;
  color: #a6a7aa;
  padding-left: 0px;
  padding-right: 0px;
}

#footer-bottom {
  background-color: #16181d;
  color: #ffffff;
  line-height: 40px;
  font-size: 12px;
  width: 100%;
  z-index: 99;
}

#footer .container {
  padding-top: 60px;
  padding-bottom: 40px;
}

#footer .container .item {
  float: left;
  min-width: 100px;
  margin-right: 70px;
}

#footer .container .item li a {
  line-height: 170%;
}

#footer .container .qrcode {
  float: right;
  margin-right: 0px;
}

#footer .container a {
  color: #a6a7aa
}

#footer .container .strong {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 15px;
}

#footer-bottom {
  padding: 0px 15px;
}

#footer a[href='javascript:void(0);'] {
  cursor: default;
  text-decoration: none;
}

#footer-bottom a {
  color: #ffffff;
}

#footer-bottom .pull-left {
  margin-right: 15px;
}

#footer-bottom .pull-right img {
  height: 30px
}

#footer .qrcode-item {
  float: right;
  text-align: center;
  color: #ffffff;
  margin-left: 15px;
}

#footer .qrcode-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

#footer .qrcode-item .mq-btn {
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  color: #ffffff;
  background-color: #EC3C2E;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}

#footer ul {
  padding: 0;
}

#footer ul li {
  padding: 0;
  list-style: none;
}

/*func-bar start*/

#func-bar {
  width: 50px;
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: 50px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #888;
}

#func-bar ul,
#func-bar li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#func-bar li>a {
  border-bottom: 1px solid #F6F8FA;
  padding: 5px 0px;
  display: block;
  color: #7B7B7D;
  text-decoration: none;
  font-size: 12px;
}

#func-bar li a .fa {
  font-size: 2em;
}

#func-bar li a.top {
  border-bottom: 0px;
}

#func-bar li a:hover {
  color: #EC3C2E;
}

/*func-bar end*/

/*移动端*/

@media (max-width:768px) {
  #header .navbar-default {
    height: 55px !important;
    min-height: auto;
  }
  #header .navbar-header {
    height: 55px;
  }
  #header .navbar-brand .visible-xs {
    margin-left: 0;
  }
  #footer .container .qrcode {
    float: left;
    margin-top: 15px;
  }
  #footer .container .qrcode .qrcode-item {
    margin-left: 0px;
    margin-right: 15px;
  }
  #footer-bottom {
    line-height: 30px;
    padding: 15px 0px !important;
  }
  #footer-bottom .pull-right {
    float: left !important;
  }
  #footer-bottom .pull-right a:first-of-type {
    display: none;
  }
  #footer .container {
    padding-left: 15px;
  }
}

#modal-ask{
    right: 70px;width: 300px;position: fixed;z-index: 1024;bottom: 120px;right: 80px;display: none;
}
#modal-ask .modal-dialog{width: 100%;margin: 0px !important;}
#modal-ask .modal-content{padding: 0px;box-shadow: 0px 0px 3px #cccccc;}
#modal-ask .modal-body{padding: 0px 15px;}
#modal-ask .btn{padding: 5px 20px;}