.notifications{
	.notification-title{
		height: 14px;
		line-height: 14px;
		margin-top: 60px;
		margin-bottom: 10px;
		border-left: 2px solid #ec3c2e;
		padding-left: 10px;
	}
	.notification-line{
		width: 100%;
		height: 1px;
		border-bottom: 1px solid #eee;
		margin-bottom: 16px;
	}
}
.notifications-list {
	margin-top: 1em;
	padding: 0;

	li {
		clear: both;
		list-style-type: none;
		padding: 1em;
		.zebra;
		.pointer;
		background-color:#fff !important;
		&:last-child {
			margin-bottom: 0;
		}

		&.unread {
			// background: #fefbed;
		}

		.timestamp {
			font-size: 0.8em;
		}

		.admin-msg{
			color: #ec3c2e;
		}
		a {
			display:block;
			.text-ellipsis;
			color:#333;
		}
		.avatarimg{
			position: absolute;
			width:30px;
			height: 30px;
			border-radius: 15px;
			img{
				width:30px;
				height: 30px;
			}
		}
		p {
			margin: 0 0 0 42px;
			color:#b2b2b2;
			margin-bottom:4px;
		}
		.content{
			margin-left:40px;

		}
		.user-img {
			.user-icon-style(24px, 1rem, 50%);
		}
		strong{
			color:#208de0;
		}
	}
}