.moderator-tools {
  margin-left: 10px;
  font-size: 14px;
  >a {
    padding: 0.25em;
  }
  a {
    color: @gray-light;
    outline: none;
    &[role="menuitem"] {
      color: inherit;
    }
  } // temporary until we build component toggling
  .favourite.btn-warning,
  .follow.btn-success {
    background: white !important;
    color: #333;
    &:hover {
      background: @brand-primary  !important;
    }
  }
}

.topic {
  // margin-top:28px;
  .highkeyword {
    background-color: #FFFF00
  }
  .topic-title {
    .highkeyword {
      color: #000;
    }
  }
  .topic-items {
    padding: 0;
    .hasPinned {
      color: @red-pinned;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-size: 12px;
      border: 1px solid @red-pinned;
      border-radius: 4px;
      font-style: normal;
      margin-left: 2px;
    }
    .s-edit {
      margin-right: 15px;
    }
    .hasHighLighted {
      color: @bule-default;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-size: 12px;
      border: 1px solid @bule-default;
      border-radius: 4px;
      font-style: normal;
      margin-left: 2px;
    }
    .topic-title {
      font-size: 24px;
      color: #233241;
      line-height: 34px;
      >span {
        padding-left: 0;
      }
    }
    .topic-relate {
      overflow: hidden;
      border-bottom: 1px solid #eee;
      height: 36px;
      line-height: 36px;
      .releaseT {
        float: left;
        font-size: 12px;
        color: #ababab;
      }
      .name {
        font-size: 12px;
        color: #233241;
        padding-right: 8px;
      }
      .classify {
        font-size: 12px;
        color: #233241;
        padding-right: 8px;
        padding-left: 6px;
      }
      .record {
        float: right;
        width: 280px;
        font-size: 12px;
        color: #ababab;
        span {
          color: #233241;
          font-weight: bold;
        }
      }
    }
    .bottom-banner {
      height: 120px;
      width: 120px;
      overflow: hidden;
    }
    .topic-container {
      font-size: 14px;
      color: #606266;
      padding: 16px 14px;
      line-height: 24px;
      z-index: 1020;
      word-break: break-all;
      word-wrap: break-word;
      h1 {
        font-size: 18px;
        font-weight: bold;
      }
      h2 {
        font-size: 16px;
        font-weight: bold;
      }
      h3 {
        font-size: 16px;
      }
      h4 {
        font-size: 14px;
        font-weight: bold;
      }
      h5 {
        font-size: 14px;
      }
      h6 {
        font-size: 14px;
      }
    }
    .iframe-container {
      padding: 0 15px;
      iframe {
        width: 100%;
        height: 500px;
        border: 1px solid #e0e8ed;
        padding: 10px 10px;
        padding-top: 15px;
      }
      .clone-strategy-btn {
        height: 30px;
        line-height: 30px;
        position: absolute;
        right: 40px;
        top: 22px;
        background-color: #1d8ce0;
        color: #ffffff !important;
        width: 100px;
        text-align: center;
        border-radius: 60px;
        font-size: 12px;
        cursor: pointer;
        img {
          margin-right: 4px;
          width: 14px;
        }
      }
    }
    .rely-quick {
      text-align: right;
      padding: 13px 0;
      padding-bottom: 0;
      .btn-primary {
        width: 100px;
        height: 34px;
        line-height: 15px;
        border-radius: @btn-border;
      }
    }
    .reply-container {
      padding: 0;
      .write {
        min-height: 163px !important;
        height: 163px !important;
      }
    }
    .post-list {
      padding: 0;
      margin-bottom: 64px;
      .postcount {
        color: #323232;
        font-size: 14px;
        margin: 20px 0 24px;
      }
      .posts {
        padding: 0;
        margin: 0;
        .deleted {
          display: none;
        }
        >li {
          list-style: none;
          padding: 24px 0;
          position: relative;
          border-bottom: 1px solid #efefef;
          .deleteReply {
            color: @brand-danger;
            font-size: 12px;
            position: absolute;
            right: 0;
            top: 12px;
          }
          .post-header {
            .g-official {
              top: 56px;
              left: 34px;
            }
            .official-tips {
              display: none;
              position: relative;
              white-space: nowrap;
              position: absolute;
              height: 28px;
              line-height: 28px;
              text-align: center;
              font-size: 14px;
              z-index: 4;
              color: #16181d;
              border-radius: 5px;
              top: 66px;
              left: 76px;
              border: 1px solid #ebeff1;
              border-radius: 4px;
              background-color: #fff;
              box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
              padding: 0 6px;
              .triangle {
                width: 0;
                height: 0;
                border-width: 6px 6px 6px 0;
                border-style: solid;
                border-color: transparent #fff transparent transparent;
                position: absolute;
                bottom: 8px;
                left: -6px;
              }
            }
            img {
              width: 50px;
              height: 50px;
              border-radius: 25px;
            }
            .post-user {
              height: 50px;
              line-height: 30px;
              margin-left: 15px;
              font-size: 14px;
            }
            .pull-left {
              a {
                &:hover {
                  .official-tips {
                    display: block;
                  }
                }
              }
            }
          }
          .content {
            padding-left: 65px;
            color: #5e5e5e;
            font-size: 14px;
            margin-bottom: 10px;
            .content-main {
              padding: 0;
            }
            img {
              max-height: 300px;
            }
          }
          .reply-delete {
            position: absolute;
            top: 16px;
            right: 0;
            a {
              color: #a5a5a5;
              font-size: 12px
            }
          }
          .post-relate {
            color: #a5a5a5;
            font-size: 12px;
            padding-left: 65px;
            .reply-time {
              margin-right: 28px;
            }
            .post-reply {
              cursor: pointer;
            }
            .g-reply {
              margin-right: 4px;
              cursor: pointer;
            }
            .g-up {
              margin-right: 4px;
              margin-left: 20px;
              cursor: pointer
            }
          }
        }
      }
    }
  }
}

.suspension {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: #fafbfc;
  height: 50px;
  padding: 0;
  top: 60px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
  z-index: 999; // .collection {
  .suspension-container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 16px;
    .title {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      font-size: 16px;
      font-style: italic;
      line-height: 50px;
    }
    .nav-choose {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      >span {
        margin-right: 8px;
      }
      a {
        list-style: none;
        color: #666;
        font-size: 16px;
      }
    }
  }
  .pagination-block {
    margin-right: 12px;
    .dropdown {
      a {
        display: inline-block;
        *display: inline;
        *zoom: 1;
      }
    }
    .progress-container {
      height: 2px;
      position: absolute;
      bottom: 8px;
      left: 8px;
      background: #666;
      width: 90%;
      margin: auto;
    }
  }
}

.topic-banner {
  height: 350px;
  background: url('images/topic-banner.jpg');
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  z-index: -1; // &::before {
  //   position: absolute;
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.8);
  // }
}

// .topic-banner-container {
//   width: 1170px;
//   margin: 0 auto;
//   position: absolute;
//   z-index: 2;
//   color: #ccc;
//   text-align: center;
//   top: 95px;
//   .topic-title {
//     font-size: 42px;
//     margin: 0;
//     line-height: 60px;
//     color: #fff;
//   }
//   .publish-user {
//     line-height: 60px;
//     margin: 20px 0 0;
//     font-size: 14px;
//     a {
//       position: relative;
//       .goldminerimg2.g-official {
//         top: 20px;
//         left: 42px;
//         width: 19px;
//       }
//     }
//     .official-tips-group {
//       color: #ec3c2e;
//     }
//   }
//   img {
//     width: 60px;
//     height: 60px;
//     border-radius: 30px;
//   }
//   a {
//     margin-right: 20px;
//   }
// }
.topic-new-container {
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 15px;
  width: 1170px;
  z-index: 3; // margin-top:354px;
  position: relative;
  margin-top: 90px;
  &-left {
    margin-right: 313px;
    overflow: hidden;
  }
  &-right {
    position: absolute;
    width: 274px;
    right: 40px;
    top: 0;
    height: 100%;
    padding-left: 20px;
    .topic-right-user {
      padding: 20px 0;
      border-bottom: 1px solid #ebeff1;
      &_img {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-right: 10px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 25px;
        }
      }
      .g-official {
        top: 50px;
        left: 52px;
      }
      &_name {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: middle;
        p {
          margin: 0;
          font-size: 16px;
          max-width: 113px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .official-tips-group {
          font-size: 12px;
          color: #ec3c2e;
        }
      }
      &_bookmark {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-top: 12px;
        float: right;
        .operate-follow {
          .btn-morph {
            font-size: 12px;
            padding: 7px 8px;
            border-radius: 5px !important;
          }
          .logintofollow {
            color: #fff;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            background-color: #ec3c2e;
            font-size: 12px;
            padding: 7px 8px;
            border-radius: 5px;
          }
        }
      }
    }
    .hotlabel {
      overflow: hidden;
      p {
        margin: 26px 0 12px;
      }
      li {
        list-style: none;
        a {
          background-color: #fbfbfb;
          height: 28px;
          padding: 0 18px;
          border: 1px solid #ebeff1;
          border-radius: 14px;
          font-size: 14px;
          color: #666;
          display: inline-block;
          line-height: 28px;
          *display: inline;
          *zoom: 1;
          margin-right: 10px;
          margin-bottom: 8px;
          float: left;
        }
      }
    }
    .advert {
      padding-left: 12px;
      margin-top: 14px;
      img {
        width: 250px;
        height: 95px;
        margin-top: 15px;
      }
    }
    .hotTopic-ico {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 18px;
      height: 18px;
      background: url('images/myquant1.png');
      background-position: 200px 0;
      vertical-align: middle;
      margin-right: 8px;
    }
    .hotTopic {
      .title {
        margin-top: 26px;
      } // .hotTopic-ico {
      //   display: inline-block;
      //   *display: inline;
      //   *zoom: 1;
      //   width: 18px;
      //   height: 18px;
      //   background: url('images/myquant1.png');
      //   background-position: 200px 0;
      //   vertical-align: middle;
      //   margin-right: 8px;
      // }
      ol{
        font-size: 12px;
        color: #666;
      }
      li {
        a {
          color: #666;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          padding: 5px 0;
          line-height: 18px;
          font-size: 12px;
          &:hover {
            color: #1d8ce0;
          }
        }
      }
    }
  }
  &-header {
    .topic-title {
      font-size: 34px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      .hasPinned {
        color: #fff;
        background-color: #ffa64d;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        line-height: 32px;
        text-align: center;
        font-size: 16px;
        font-family: "宋体";
        font-style: normal;
        margin-left: 6px;
        vertical-align: middle;
      }
      .hasHighLighted {
        color: #fff;
        background-color: #ea3629;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        line-height: 32px;
        text-align: center;
        font-size: 16px;
        font-family: "宋体";
        font-style: normal;
        margin-left: 2px;
        vertical-align: middle;
      }
    }
    .publish-msg {
      margin: 6px 0 20px;
      font-size: 12px;
      font-family: '宋体';
      line-height: 23px;
      color: #9a9a9a;
      position: relative;
      img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }
      .g-official {
        top: 16px;
        left: 16px;
      }
      .user-img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }
      .classify {
        color: #ec3c2e;
      }
      .official-tips-group {
        color: #ec3c2e;
      }
    }
    .topic-add {
      // overflow: hidden;
      padding-bottom: 14px;
      border-bottom: 1px solid #ebeff1;
      .classify {
        float: left;
        background-color: #fbfbfb;
        height: 28px;
        padding: 0 18px;
        border: 1px solid #ebeff1;
        border-radius: 14px;
        font-size: 14px;
        color: #666;
        display: inline-block;
        line-height: 28px;
      }
      &-right {
        float: right;
        vertical-align: middle;
        .collection {
          display: inline-block;
          height: 26px;
          line-height: 26px;
          background-color: #fbfbfb;
          padding: 0 10px;
          font-size: 12px;
          border-radius: 5px;
          border: 1px solid #ebeff1;
          display: inline-block;
          *display: inline;
          *zoom: 1;
          margin-top: 7px;
          a {
            color: #666;
            text-decoration: none;
          }
        }
        .shareicons {
          margin-left: 12px;
          padding-left: 18px;
          border-left: 1px solid #e8ecf0;
          float: right;
          .g-wx {
            position: relative;
            .g-qrcode-banner {
              z-index: 1021;
              display: none;
              width: 150px;
              height: 150px;
              position: relative;
              top: 46px;
              left: -52px;
              background-color: #fff;
              -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
              box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
              .triangle_border_down {
                width: 0;
                height: 0;
                border-width: 0 8px 8px;
                border-style: solid;
                border-color: transparent transparent #fff;
                /*灰 透明 透明 */
                position: absolute;
                top: -8px;
                left: 64px;
              }
            }
            #g-qrcode {
              position: absolute;
              top: 11px;
              left: 11px;
            }
          }
        }
        &-view {
          width: 194px;
          float: left;
          margin-top: 12px;
          >div {
            padding: 0;
            font-size: 12px;
          }
        }
      }
    }
  }
  .topic-extra-left {
    width: 216px;
    font-size: 12px;
    color: #ccc;
    position: absolute;
    top: -33px;
    left: 0;
    >div {
      padding: 0;
    }
    span {
      font-weight: bold;
    }
  }
  .topic-extra-right {
    position: absolute;
    top: -33px;
    right: 3px;
    .s-edit {
      margin-right: 10px;
    }
  }
  .deleteReply {
    color: @brand-danger;
    font-size: 12px;
    position: absolute;
    right: 11px;
    top: 8px;
  }
  .bottom-banner {
    height: 120px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .topic-container {
    font-size: 14px;
    color: #606266;
    padding: 30px 14px;
    line-height: 24px;
    z-index: 1020;
    word-break: break-all;
    word-wrap: break-word;
    h1 {
      font-size: 18px;
      font-weight: bold;
    }
    h2 {
      font-size: 16px;
      font-weight: bold;
    }
    h3 {
      font-size: 16px;
    }
    h4 {
      font-size: 14px;
      font-weight: bold;
    }
    h5 {
      font-size: 14px;
    }
    h6 {
      font-size: 14px;
    }
  }
  .iframe-container {
    padding: 0 15px;
    iframe {
      width: 100%;
      height: 500px;
      border: 1px solid #e0e8ed;
      padding: 10px 10px;
      padding-top: 15px;
    }
    .clone-strategy-btn {
      height: 30px;
      line-height: 30px;
      position: absolute;
      right: 40px;
      top: 22px;
      background-color: #ec3c2e;
      color: #ffffff !important;
      width: 100px;
      text-align: center;
      border-radius: 4px;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        background-color: #ec4a3f;
      }
      img {
        margin-right: 4px;
        width: 14px;
      }
    }
  }
  .topic-handle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    .dropdown-toggle {
      width: 100px;
      height: 34px;
      line-height: 14px;
      border-radius: 4px;
    }
  }
  .post-list {
    padding: 0;
    margin-bottom: 64px;
    .postcount {
      color: #323232;
      font-size: 14px;
      position: relative;
      margin: 0 0 24px;
      height: 35px;
      .countline {
        width: 100%;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 0;
        border-bottom: 1px solid #ebeff1;
        position: absolute;
        top: 18px;
        z-index: 1;
      } // &::before{
      // 	content: "";
      // 	position: absolute;
      // 	width:100%;
      // }
      span {
        border: 1px solid #ebeff1;
        border-radius: 4px;
        margin-left: 15px;
        padding: 0 15px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 35px;
        line-height: 35px;
        border-radius: 16px;
        position: absolute;
        z-index: 2;
        background-color: #fff;
      }
    }
    .posts {
      padding: 0;
      margin: 0;
      .deleted {
        display: none;
      }
      >li {
        list-style: none;
        padding: 24px 0;
        position: relative;
        border-bottom: 1px solid #efefef;
        .deleteReply {
          color: @brand-danger;
          font-size: 12px;
          position: absolute;
          right: 0;
          top: 12px;
        }
        .post-header {
          .g-official {
            top: 56px;
            left: 34px;
          }
          .official-tips {
            display: none;
            position: relative;
            white-space: nowrap;
            position: absolute;
            height: 28px;
            line-height: 28px;
            text-align: center;
            font-size: 14px;
            z-index: 4;
            color: #16181d;
            border-radius: 5px;
            top: 30px;
            left: 54px;
            border: 1px solid #ebeff1;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
            padding: 0 6px;
            .triangle {
              width: 0;
              height: 0;
              border-width: 6px 6px 6px 0;
              border-style: solid;
              border-color: transparent #fff transparent transparent;
              position: absolute;
              bottom: 8px;
              left: -6px;
            }
          }
          .official-tips-group {
            font-size: 12px;
            color: #ec3c2e;
          }
          img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
          }
          .post-user {
            height: 50px;
            line-height: 30px;
            margin-left: 15px;
            font-size: 14px;
          }
          .pull-left {
            a {
              &:hover {
                .official-tips {
                  display: block;
                }
              }
            }
          }
        }
        .content {
          padding-left: 65px;
          color: #5e5e5e;
          font-size: 14px;
          margin-bottom: 10px;
          .content-main {
            padding: 0;
          }
          img {
            max-height: 300px;
          }
        }
        .reply-delete {
          position: absolute;
          top: 16px;
          right: 0;
          a {
            color: #a5a5a5;
            font-size: 12px
          }
        }
        .post-relate {
          color: #a5a5a5;
          font-size: 12px;
          padding-left: 65px;
          .reply-time {
            margin-right: 28px;
          }
          .post-reply {
            cursor: pointer;
          }
          .g-reply {
            margin-right: 4px;
            cursor: pointer;
          }
          .g-up {
            margin-right: 4px;
            margin-left: 20px;
            cursor: pointer
          }
        }
      }
    }
    .relative-topics {
      padding-left: 5px;
      margin-top: 17px;
      .title {
        font-size: 14px;
        color: #1f222a;
        height: 46px;
        line-height: 46px;
        font-weight: 600;
      }
      li {
        list-style: none;
        height: 36px;
        line-height: 36px;
        position: relative;
        .relativeTid {
          background-color: #fbfbfb;
          height: 26px;
          padding: 0 15px;
          border: 1px solid #ebeff1;
          border-radius: 14px;
          font-size: 12px;
          color: #666;
          display: inline-block;
          *display: inline;
          *zoom: 1;
          line-height: 26px;
          position: absolute;
          top: 5px;
        }
        a {
          color: #606266;
          padding-left: 95px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:hover {
            color: #1d8ce0;
          }
        }
      }
    }
  }
  .reply-container {
    min-height: 170px;
    padding: 0;
    padding-top: 60px;
    border-top: 1px solid #ebeff1;
    .composer {
      margin-bottom: 0;
    }
  }
  .login-to-reply {
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    border-radius: 4px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #fff;
    float: right;
    background-color: #ec3c2e !important;
  }
}

.goldminerimg {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 20px;
  background: url('images/myquant1.png');
  &.g-collect {
    background-position: 0 -118px;
    vertical-align: middle;
  }
  &.g-has-collect {
    vertical-align: middle;
    background-position: -24px -118px;
  }
  &.g-wx {
    width: 42px;
    height: 42px;
    background-position: 0 -18px;
    vertical-align: middle;
  }
  &.g-wb {
    width: 42px;
    height: 42px;
    background-position: -50px -18px;
    vertical-align: middle;
  }
  &.g-xq {
    width: 42px;
    height: 42px;
    background-position: -100px -18px;
    vertical-align: middle;
  }
  &.g-reply {
    width: 11px;
    height: 11px;
    background-position: -89px -123px;
    vertical-align: middle;
    &:hover {
      background-position: -51px -123px
    }
  }
  &.g-up {
    width: 12px;
    height: 12px;
    background-position: -106px -121px;
    vertical-align: middle;
    &:hover {
      background-position: -68px -121px
    }
  }
  &.g-edit {
    width: 12px;
    height: 12px;
    background-position: -354px 0;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
    &:hover {
      background-position: -354px -12px;
    }
  }
  &.g-delete {
    width: 12px;
    height: 12px;
    background-position: -376px 0;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
    &:hover {
      background-position: -376px -12px;
    }
  }
  &.g-post-category {
    width: 24px;
    height: 24px;
    background-position: -229px -3px;
    vertical-align: middle;
    margin-right: 8px;
  }
  &.g-hot {
    width: 14px;
    height: 19px;
    margin-right: 8px;
    background-position: -448px 0;
    vertical-align: middle;
  }
  &.g-category-select-icon {
    width: 13px;
    height: 9px;
    background-position: -489px -5px;
  }
}

.reply-container {
  padding: 0;
  .write {
    min-height: 163px !important;
    height: 163px !important;
  }
}

.goldminerimg2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 25px;
  height: 25px;
  background: url('images/myquant2.png');
  &.g-all {
    background-position: -60px 0px;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    margin-top: -8px;
    vertical-align: middle;
  }
  &.g-new {
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    margin-top: -8px;
    vertical-align: middle;
  }
  &.g-hot {
    background-position: -41px 0px;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    margin-top: -8px;
    vertical-align: middle;
  }
  &.g-view {
    width: 18px;
    height: 18px;
    background-position: -120px -74px;
    vertical-align: middle;
  }
  &.g-replyicon {
    width: 18px;
    height: 18px;
    background-position: -120px -92px;
    vertical-align: middle;
  }
  &.g-bookmarked {
    width: 18px;
    height: 18px;
    background-position: -142px -73px;
    vertical-align: middle;
  }
  &.g-strategy {
    width: 12px;
    height: 12px;
    background-position: 0 -120px;
    margin-right: 4px;
    vertical-align: middle;
  }
  &.g-performance {
    width: 12px;
    height: 12px;
    background-position: -12px -120px;
    margin-right: 4px;
    vertical-align: middle;
  }
  &.g-official {
    width: 18px;
    height: 18px;
    background-position: -100px -72px;
    position: absolute;
    top: 77px;
    left: 55px;
  }
} // 移动端兼容
@media (max-width: @screen-lg) {
  .topic-new-container {
    width: 100%;
  }
  .topic-banner-container {
    width: 100%;
    left: 0;
  }
}

@media (max-width: @screen-md) {
  .topic-new-container-left {
    margin: 0;
  }
}

@media (max-width: @screen-sm) {
  .suspension-container {
    width: 970px
  }
  .topic-new-container-left {
    margin: 0;
  }
  .publish-msg {
    .g-official {
      top: 136px;
    }
  }
  .topic-new-container-header {
    padding-top: 18px;
  }
  .topic-banner-container {
    width: 100%;
    .publish-msg {
      margin: 26px 0 24px;
    }
    .topic-title {
      font-size: 20px;
      padding: 0 4px;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .hasPinned {
        font-size: 12px;
        width: 26px;
        height: 26px;
        line-height: 26px;
      }
      .hasHighLighted {
        font-size: 12px;
        width: 26px;
        height: 26px;
        line-height: 26px;
      }
    }
  }
  .topic-banner {
    position: relative !important;
    z-index: 2;
    top: -110px;
  }
  .topic-new-container {
    padding: 0 14px;
    width: 100%;
    margin-top: -100px;
  }
  .suspension {
    top: 55px;
    z-index: 3;
    .collection {
      width: 75px;
      a {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: @screen-xs) {
  .topic-new-container-left {
    margin-top: 96px;
  }
  .topic-new-container-header {
    .topic-add-right .shareicons {
      margin-top: 16px;
      border: 0;
    }
    .topic-title {
      font-size: 20px;
      .hasPinned {
        font-size: 12px;
        width: 26px;
        height: 26px;
        line-height: 26px;
      }
      .hasHighLighted {
        font-size: 12px;
        width: 26px;
        height: 26px;
        line-height: 26px;
      }
    }
  }
}