.users {

	&.admin {
		#users-container {
			padding: 0;
		}

		.users-box{
			display: inline-block;
			margin-top: 20px;
			text-align: center;
			vertical-align: top;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			height: auto;
			max-width: 125px;
			margin-bottom:15px;
			img {
				width:50px;
				height:50px;
			}

			a {
				margin-bottom:5px;
			}
		}
	}
}

.users-container {
	padding: 0;
	list-style-type: none;

	li {
		padding-bottom: 10px;
	}

	.users-box{
		display: inline-block;
		margin-top: 20px;
		text-align: center;
		vertical-align: top;
		width: 104px;

		img, .user-icon {
			.user-icon-style(40px, 4rem, 50%);
		}
		.btn-primary{
			font-size:12px !important;
		}
		a {
			max-width: 94px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	.user-info {
		margin-top:10px;
		>span {
			min-width: 50px;
			max-width: 94px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			display: inline-block;
			a{
				color:#666;
			}
		}
	}

	.user-img {
		.user-icon-style(20px, 1rem, 50%);
		vertical-align: middle;
	}

	.anon-user {
		.user-icon {
			background: @gray-lighter;
			color: white;
		}
	}
}
.follow{
	padding-top:15px;
	.title{
		color:#666;
		font-size:14px;
		padding-left:5px;
		border-left:3px solid #208de0;
		height: 14px;
		line-height: 14px;
	}
	.btn-morph{
		width:80px;
		height: 26px;
		line-height: 7px;
		border-radius: 4px;
		&:focus{
			outline:0;
		}
	}
}
@media (max-width:@screen-xs) {
	.follow{
		padding:10px 20px;	
	}
	.operate{
		display: none;
	}
}