<div id="{alert_id}" class="alert alert-dismissable alert-{type} clearfix" component="toaster/toast">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

	<!-- IF image -->
	<img src="{image}">
	<!-- ENDIF image -->

	<!-- IF title -->
	<span class="goldminerimg-big"></span>
	<strong>{title}</strong>
	<!-- ENDIF title -->

	<!-- IF message -->
	<p>{message}</p>
	<!-- ENDIF message -->
</div>
