<div class="common-page">
    <div class="content">
        <div class="img"><img src="{config.relative_path}/images/404.png" alt="404"></div>
        <div class="title"><a href="/" title="返回首页">返回首页</a></div>
    </div>
</div>