<ul class="nav nav-pills category-nav col-lg-9 col-md-9 col-sm-12">
    <!-- BEGIN allCategoriesData -->
    <li><a href="{config.relative_path}/category/{allCategoriesData.cid}/{allCategoriesData.name}">{allCategoriesData.name}</a></li>
    <!-- END allCategoriesData -->
</ul>