.alert-window {
	position: fixed;
	width: 300px;
	z-index: 10002;

	right: 20px;
	bottom: 0px;

	.alert {
		&::before {
			position: relative;
			top: -15px;
			left: -15px;
			display: block;
			height: 2px;
			width: 0;
			transition: inherit;
		}

		&.alert-info::before {
			background-color: @material-info;
		}

		&.alert-warning::before {
			background-color: @material-warning;
		}

		&.alert-success::before {
			background-color: @material-success;
		}

		&.alert-danger::before {
			background-color: @material-danger;
		}

		&.animate {
			&.alert-info::before {
				background-color: lighten(@material-info, 25%);
			}
			
			&.alert-warning::before {
				background-color: lighten(@material-warning, 25%);
			}
			
			&.alert-success::before {
				background-color: lighten(@material-success, 25%);
			}
			
			&.alert-danger::before {
				background-color: lighten(@material-danger, 25%);
			}
			
			&::before {
				// width: ~"calc(100% + 50px)";
			}
		}

		background-color: white;
		border: 0;
		border-left: 0px solid !important;
		box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);

		strong {
			text-transform: uppercase;
		}

		p {
			padding: 10px 0px 0px;
			margin-left:29px;
		}
		.goldminerimg-big{
			width:24px;
			height: 24px;
			display: inline-block;
			background: url('images/myquant1.png');
			margin-right: 2px;

		}
		&.alert-info {
			color: #606266;
			border-color: @material-info;
			.goldminerimg-big{
				background-position: -571px 0;
				vertical-align: middle;
			}
		}

		&.alert-warning {
			color: #606266;
			border-color: @material-warning;
			.goldminerimg-big{
				background-position: -595px 0;
				vertical-align: middle;
			}
		}

		&.alert-success {
			color: #606266;
			border-color: @material-success;
			.goldminerimg-big{
				background-position: -547px 0;
				vertical-align: middle;
			}
		}

		&.alert-danger {
			color: #606266;
			border-color: @material-danger;
			.goldminerimg-big{
				background-position: -619px 0;
				vertical-align: middle;
			}
		}
	}
}