<!-- IMPORT admin/partials/settings/header.tpl -->

<div class="row groupsend">
  <div class="groupsend-tips">建议不进行频繁修改，群发管理员只能在论坛管理员中选择···</div>
	<div class="col-sm-2 col-xs-12">设置群发消息管理员</div>
  <div class="col-sm-10 col-xs-12">
    <input type="text" class="form-control" id="groupsend-search" placeholder="搜索管理员" data-field="groupsendMember">
  </div>
</div>

<!-- IMPORT admin/partials/settings/footer.tpl -->