.category-items{
	padding:0!important;
}
.banner{
	background-color:#f4f7f8;
	margin:0 auto;
}
.category-banner{
	background:url('images/banner.png');
	width:1170px;
	height:127px;
	margin:0 auto;
	a{
		display: block;
		width:250px;
		height: 125px;
	}
}
@media (max-width: @screen-sm-max) {
	.category-banner{
		width:auto;
	}
}
.category {
	padding:0!important;
	.category-item{
		position: relative;
		.userDelete{
			position: absolute;
			top:12px;
			right: 0;
			color:@brand-danger;
		}
	}
	.topic-list {
		margin-top: 10px;
		.topic-container{
			position: relative;
			min-height: 50px;
			p{
				word-wrap: break-word;
				word-break: break-all;
				overflow: hidden;
			}
			h1{
				font-size: 18px;
				font-weight: bold;
				line-height: 36px;
			}		
			h2{
				font-size: 16px;
				font-weight: bold;
				line-height: 30px;
			}
			h3{
				font-size: 16px;
				line-height: 30px;
			}
			h4{
				font-size:14px;
				font-weight: bold;
				line-height: 30px;
			}
			h5{
				font-size:14px;
				line-height: 24px;
			}
			h6{
				font-size: 14px;
			}
			.avatar-container{
				position: absolute;
				width: 30px;
				height: 30px;
				top:10px;
				cursor:pointer;
				z-index:2;
				img{
					width: 30px;
					height: 30px;
					display: inline-block;
					*display: inline;
					zoom:1;	
					border-radius: 15px;
				}
				.user-icon{
					width:30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					background-color:#9c27b0
				}
			}
			.topic-title{
				padding-left:48px;
				.title{
					font-size:16px;
					color:#233241;
					font-weight: bold;
					line-height: 30px;
					.categoryname{
						font-size:14px;
						font-weight: normal;
						color:#1d8ce0;
					}
					.hasPinned{
						color:@red-pinned;
						display: inline-block;
						*display:inline;
						*zoom:1;
						width:20px;
						height: 20px;
						line-height: 20px;
						text-align: center;
						font-size:12px;
						border:1px solid @red-pinned;
						border-radius: 4px;
						font-style:normal;
						margin-left:2px;
					}
					.hasHighLighted{
						color:@bule-default;
						display: inline-block;
						*display:inline;
						*zoom:1;
						width:20px;
						height: 20px;
						line-height: 20px;
						text-align: center;
						font-size:12px;
						border:1px solid @bule-default;
						border-radius: 4px;
						font-style:normal;
						margin-left:2px;
					}
					a{
						color:#233241;
						&:hover{
							color:@bule-default;
						}
					}
				}
				.release-time{
					font-size:12px;
					color:#ababab;
					font-weight: normal;
					.author{
						color:#233241;
						font-size:12px;
						padding-right:4px;
						cursor:pointer;
						a{
							color:#233241;
						}
					}
					.list-category{
						color:#233241;
						font-size:12px;
						padding-left:4px;
					}
				}
			}
			
		}
		.content{
			margin-top:10px;
			// margin-bottom:10px;			
			.content-main{
				padding:15px;
				padding-top:0;
				padding-left:0;
				p{
					line-height: 24px;
					font-size:14px;
					color:#666;
					word-wrap:break-word;  
					word-break:break-all;  
					overflow: hidden;  
					margin-bottom: 0;					
				}
			}
			.thumb{
				padding-right: 10px;
				padding-left:0;
				img{
					width:100%;
					height: 100%;
					border-radius: 0;
					margin-bottom:17px;
					height: 70px;
				}
			}
			
		}
		.topic-relevance{
			padding:0 15px;
			.topic-relevance-left{
				padding:0;
			}
			.unreply{
				font-size:12px;
				color:#ababab;
				margin:0;
			}
			.reply{
				font-size:12px;
				color:#ababab;
				.author{
					color:#233241;
					cursor: pointer;
					a{
						color:#233241;
					}
				}
			}
			.relevance-right{
				font-size:12px;
				color:#ababab;
				div{
					padding:0;
				}
				.viewcount, .postcount, .upvotes{
					color:#233241;
					// font-weight: bold;
				}
			}
		}
	}

	> ul {
		> li {
			list-style: none;
			border-bottom:1px solid #eee !important;
			&:not(.unread) {
				.card {
					border-color: lighten(@gray-light, 20%) !important;
				}

				h2 a {
					color: @gray;
				}
			}

			&.deleted {
				-moz-opacity: 0.30;
				opacity: 0.30;
			}

			&.pinned {
				[component="topic/pinned"] {
					cursor: move;
				}
			}

			.select {
				position: relative;
				.pointer;

				&:before {
					content: "";
					display: none;
				}

				.fa-check {
					padding: 14px;
					border-radius: 50%;
					position: absolute;
					font-size: 15px;
					opacity: 0;
					top: 0px;
					left: 0px;

					&:before {
						.pointer;
					}

					@media (max-width: @screen-sm-max) {
						padding: 7px;
					}
				}

				.user-img, .user-icon {
					opacity: 1;
				}

				.fa-check, .user-img, .user-icon {
					.transition(.2s ease-in-out all);
				}

				float: left;
			}
			// .avatar .select:hover {
			// 	.user-img, .user-icon {
			// 		opacity: 0;
			// 	}

			// 	.fa-check {
			// 		border: 1px solid @brand-primary;
			// 		color: @brand-primary;
			// 		opacity: 1;
			// 	}
			// }

			&.selected {
				.select .user-img, .select .user-icon {
					opacity: 0;
				}

				.avatar .select .fa-check {
					opacity: 1;
					border: 1px solid @brand-success;
					color: @brand-success;
				}
			}

			.tag-list {
				display: inline-block;
				.tag {
					text-transform: uppercase;
					font-size: 10px;
					background: lighten(@gray-lighter, 2.5%);
					padding: 5px;
					white-space: nowrap;
				}
			}

			.fa-stack {
				font-size: 90%;
			}

			.card .user-icon {
				display: inline-block;
				.user-icon-style(24px, 1.5rem, 50%);
			}
		}

		&:last-child li {
			border-bottom: 0;
		}
	}

	.unread {
		.topic-title {
			font-weight: bold;
		}
	}
}

.category, .categories, .subcategory {
	> p {
		text-transform: uppercase;
		color: @gray-light;
	}

	.description {
		font-size: 1.2rem;
		font-weight: normal;
		line-height: 1.2;
		color: @gray-light;
		margin-top: 5px;
		min-height: 25px
	}

	.description, .category-children {
		margin-left: 62px;
	}

	.category-children {
		display: block;
		font-size: 15px;

		small {
			color: #999999;
		}
	}
}

.categories-title {
	text-transform: uppercase;
	color: @gray-light;
	margin: 0 0 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
}

[component="category-selector"], .category-dropdown-container {
	.fa-stack {
		font-size: 65%;
	}
}
.category-dropdown-button{
	background-color:#fff !important;
	border:0;
	box-shadow: none !important;
	padding: 1px 16px;
    border-right: 1px solid #eee;
	margin-right: 1px;
	border-radius: 0 !important;
	&:hover{
		background-color:#fff !important;
		box-shadow: none !important;
		border-right: 1px solid #eee !important;		
	}
	&:active{
		background-color:#fff !important;
		box-shadow: none !important;
		// border-right: 1px solid #eee !important;		
	}
	>span{
		color:#999;
	}
}
.category-dropdown-menu {
	max-height: 500px;
	overflow-y: auto;
}

.merge-topic-card {
	position: fixed;
	bottom: 10%;
	right: 2rem;
	z-index: 1;
	.topics-section {
		text-align: center;
	}
}

@media screen and (min-width: @screen-sm-min) {
	.merge-topic-card {
		max-width: 33%;
	}
}

.g-side-bar{
	margin-bottom:100px;
	img{
		width:100px;
		height: 100px;
		border-radius: 50px;
	}
	.username{
		margin-top:18px;
		color:#233241;
		font-weight: bold;
		font-size:14px;
		a{
			color:#233241;
		}
	}
	.description{
		margin-top:10px;
		font-size: 12px;
		color:#666;
	}
	.msgcount{
		margin-top:24px;
		span{
			color:#233241;
			font-weight: bold;
			font-size:14px;
			a{
				color:#233241;
				display: block;
			}
		}
	}
	.msgname{
		span{
			color:#ababab;
			font-size:12px;
			border-right:1px solid #eee;
			height: 28px;
			line-height: 28px;
			a{
				color:#ababab;
				display: block;
			}
			&:last-child{
				border:0;
			}
		}
	}
	.new-topic-btn{
		height: 40px;
		line-height: 20px;
		background-color:@bule-default;
		border:0;
		margin-top:36px;
		border-radius: 21px;
		&:hover{
			background-color:@bule-default-hover;
		}
	}
	.btn-reg{
		margin-top:11px;
		background-color: #fff;
		height: 40px;
		line-height: 20px;
		border-radius: 21px;
		color: @bule-default;
		border: 1px solid @bule-default;
		&:hover{
			border:1px solid @bule-default-hover;
			color:@bule-default-hover;
		}
	}
	.advert{
		margin-top:10px;
		img{
			width:100%;
			height: 100%;
			border-radius: 0;
		}
	}
}
.popular-side-bar{
	margin-top:27px;
	.title{
		font-size:14px;
		font-weight: bold;
		color:#233241;
		height: 38px;
		line-height: 38px;

	}
	ul{
		padding-left:0;
		li{
			width:100%;
			height: 28px;
			line-height: 28px;
			color:#ccc;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			a{
				font-size:12px;
				color:#666;
				&:hover{
					color:@bule-default;
				}
			}
		}
	}
}
.nav-line{
	width: 100%;
    border-bottom: 1px solid #eee;
    position: absolute;
    left: 0;
    top: 222px;
}
.recent-title{
	// border-bottom:1px solid #eee;
	height: 50px;
	padding:0;
	position: relative;
	margin-bottom:10px;
	.category-select{
		float:left;
		width:155px;
		height: 34px;
		// border-radius: 17px;
		margin-top:8px;
		// border:1px solid #dcdfe6;
		padding:7px 0;
		-webkit-user-select: none;
		-moz-user-select: none; 
		-ms-user-select: none;
		padding-bottom: 0;
		line-height: 25px;
		cursor: pointer;
		.category-title{
			height:15px;
			line-height: 15px;
			border-right:1px solid #dcdfe6;
			color:#606266;
			width: 86px;
			display: inline-block;
			padding-left: 18px;
			*display: inline;
			*zoom:1;
		}
		.g-category-select-icon{
			margin-left: 5px;
		}
		
	}
	.nav-choose{
		float:left;
		span{
			height: 50px;
			line-height: 55px;
			font-size: 14px;
			margin:0 20px;
			cursor: pointer;
			display: inline-block;
			*display:inline;
			*zoom:1;
			a{
				color: #666;
				&:hover{
					color:#1d8ce0;
					font-weight: bold;
				}		
			}
			
			&.choose{
				a{
					color: #1d8ce0;
					font-weight: bold;					
				}
				border-bottom: 2px solid #1d8ce0;
			}
		}
		
	}
	.category-select-dropdown{
		display: none;
		position: absolute;
		top:53px;
		width:121px;
		list-style: none;
		padding:0;
		border: 1px solid #dcdfe6;
		background-color:#fff;
		border-radius: 6px;
		box-shadow: 0 5px 15px rgba(0,0,0,.1);
		z-index:3;
		li{
			height: 40px;
			line-height: 40px;
			text-align: center;
			cursor:pointer;
			color:#606266;
			&:first-child{
				border-radius: 0;
				margin-top:10px;
			}
			&:last-child{
				border-radius: 0;
				margin-bottom:10px;
			}
			&:hover{
				background-color:#f0f3f7;
				color:#208de0
			}
		}
	}
}
@media (max-width: @screen-sm-max) {
	.category-select{
		width:121px !important;
	}
}
.zoomify { cursor: pointer; cursor: -webkit-zoom-in; cursor: zoom-in; }
.zoomify.zoomed { cursor: -webkit-zoom-out; cursor: zoom-out; padding: 0; margin: 0; border: none; border-radius: 0; box-shadow: none; position: relative; z-index: 1501; }
.zoomify-shadow { position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; display: block; z-index: 999; background: rgba(0, 0, 0 , .3); }
.zoomify-shadow.zoomed { opacity: 1; cursor: pointer; cursor: -webkit-zoom-out; cursor: zoom-out; }