/*header start*/

#header{position:absolute;color: #ffffff;height: 45px;width:100%;z-index:1;padding: 0px;top:0px;left: 0px;}
#header .container-fluid{padding: 0px;}
#header .navbar-header{padding-left: 0px;padding-right: 15px;}
#header .navbar-nav{padding-left:4px;}
#header .navbar{border-radius: 0px;border:0px;height: 45px !important;min-height: 45px;}
#header .navbar-header{margin-top:-5px;}
/*#header .navbar-default{color: #ffffff;background-color:transparent;}*/
#header .navbar-default{color: #ffffff;background-color:#050611;}
#header .navbar-toggle{padding:7px 10px;margin-top:12px;background-color: transparent !important;}
#header .navbar-default .navbar-collapse{border-bottom: 0px solid #162028;padding: 0px 30px;}
#header .in .nav .dropdown-menu{background-color: #162028;}
#header .navbar-nav>li>a{padding:5px 7px 9px;font-size: 14px;background-color: transparent;color: #cac9e4;}
#header .navbar-nav>li>a:hover{color: #3489F9;}
#header .navbar-nav>li>a.official{font-size: 12px;color: rgba(255,255,255,0.8)}
#header .navbar-left>li>a{font-size:14px;color: #cacbe4;}
#header .navbar-brand{padding: 8px 5px 5px;padding-left:0px;margin-left:0px;}
#header .navbar-brand .hidden-xs{margin-left: 15px;}
#header .nav .glyphicon-user:before{margin-right:4px;}
#header .navbar-brand img{height: 38px;}
#header .navbar-default a{color: rgba(255,255,255,.6);font-size:14px;}
#header .navbar-nav>li.active>a{height: auto;}
#header .navbar-collapse.in{position: relative;z-index: 999;background-color: #162028;padding: 0px 30px;}
#header .nav li{margin:0 15px;padding:8px 0 0 0;}
#header .nav li .user-img{width:28px;height: 28px;border-radius: 14px;border:1px solid #050611;}
#header .nav li a{height:36px}
#header .nav li.divider{padding:0px;}
#header .nav .dropdown-menu{border-color: #4E5A66;border-top: 0px;background-color: rgba(3,8,18,0.8);margin-top:4px;border-radius: 4px;}
#header .dropdown-menu li a{line-height: 44px;height:44px;color:#fff;}
#header .dropdown-menu li a[href='javascript:void(0);']{cursor: auto;color: #999 !important;}
#header .noticeBell{width: 8px;height: 8px;display: block;position: absolute;background-color: #f12b16;top: 5px;left: 27px;border-radius: 4px;}
#header .noticeBellNav {top:21px;left:86px;}
#header .dropdown-menu li a.highlight{color:#DCDEE1 !important;}
#header .dropdown-menu li{margin-left: 0px;margin-right: 0px;padding-top:0px;}
#header .dropdown-menu li ul>li>a{display: block;text-decoration: none;font-size: 12px;text-indent: 3em;line-height: 34px;}
#header .dropdown-menu li {position: relative;}
#header .dropdown-menu li b.caret{position: absolute;right: 15px;top:20px;cursor: pointer;}
#header .dropdown-menu .sub-menu{display: none;padding-left:0}
#header .dropdown-menu>li:hover{background-color:#384654 !important;}
#header .btn-link:hover{background-color:transparent!important;}
#header .dropdown-menu li a{background-color: transparent;}
#header .dropdown-menu li .logoutBtn{line-height: 38px;color: #fff}
#header .dropdown-menu li a:hover{background-color:#384654;color:#fff;}
#header .navbar-form{margin-top: 0px;margin-bottom: 0px;padding-top:9px;}
#header .navbar-form .form-group{border-radius: 40px;border:1px solid #545F6A}
#header .navbar-form .form-control{background-color: transparent;border-color: #545F6A !important;color: #A5ABB1;height: 28px;box-shadow: none !important;border-radius: 4px;border:0;}
#header .btn-all{margin-top: 2px;background-color: transparent;border:1px solid #01B2B2;color: #01B2B2;padding: 4px 15px;}
#header .navbar-form .form-group{position: relative;}
#header form .fa-search{position: absolute;left: unset;right: 10px;top:7px;cursor: pointer;color: rgba(255,255,255,0.6);}

/*header end*/

#footer{padding:30px;background-color: #fafafa;width:100%; box-sizing:border-box;}
#footer .container{width:100%;margin:0 auto;overflow: hidden;}
#footer .container .footerList{float:left;}
#footer .container .footerList .strong{color:#091746;font-weight: bold;line-height: 34px;}
#footer .container .footerList ul{padding:0; margin:0;}
#footer .container .footerList ul li{list-style: none; font-size:14px; line-height: 22px;}
#footer .container .footerList li a{text-decoration:none;color:#999;}
#footer .container .footerList1{width:170px;}
#footer .container .footerList2{width:180px;}
#footer .container .footerList3{width:180px;}
#footer .container .footerList4{width:100%;}
#footer .container .footerList5{overflow: hidden;}
#footer .container .footerList5 .quickMark{ font-size:14px; float:left; margin-top:10px;}
#footer .container .footerList5 .quickMark img{ width:100px; height:100px;}
#footer .container .footerList5 .help-block{text-align: center;color:#6f6d7a;line-height: 30px;height: 30px;}
#footer{padding:30px 0px;width:100%;}
#footer .container{width:1280px;margin:0 auto;overflow: hidden;}
#footer .container .footerList{float:left;}
#footer .container .footerList .strong{color:#091746;font-weight: bold;line-height: 34px;}
#footer .container .footerList ul{padding:0; margin:0;}
#footer .container .footerList ul li{list-style: none; font-size:14px; line-height: 22px;}
#footer .container .footerList li a{text-decoration:none;}
#footer .container .footerList1{width:170px;}
#footer .container .footerList2{width:180px;}
#footer .container .footerList3{width:180px;}
#footer .container .footerList4{width:488px;}
#footer .container .footerList5{ float:right;overflow: hidden;}
#footer .container .footerList5 .quickMark{ font-size:14px; float:left; margin:5px;}
#footer .container .footerList5 .quickMark img{ width:100px; height:100px;}
#footer .container .footerList5 .help-block{text-align: center;color:#6f6d7a;line-height: 30px;height: 30px;}
#footer .container {
    .container-fixed();
    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }
    @media (min-width: @screen-md-min) {
      width: @container-md;
    }
    @media (min-width: @screen-lg-min) {
      width: @container-lg;
    }
  }

 /*footer*/
 #footer-bottom{background-color: #2C3E50;
    color: #A3ABB3;
    border-top: 1px solid #425262;
    line-height: 38px;
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1020;}

#footer-bottom .pull-right{float: right}
#footer-bottom .pull-right img{height:30px;}
#footer-bottom .pull-right span{display: inline-block;}
@media (max-width: @screen-sm-min) {
  /*footer start*/
  /*header*/
  body #header .container-fluid{overflow-x: hidden;}
  body #header .navbar-default .navbar-collapse{background-color: #08132c;}
  body #header .navbar-default #example-navbar-search{background-color: #233241}
  #header .navbar-form{padding-top: 12px;}
  #header .navbar-nav>li>a.official{font-size: 14px;color: #ffffff;}
  #header .navbar-nav>li.active>a{border-bottom: 3px solid transparent;}
  #header .navbar-toggle-search{margin-top:9px;padding: 6px 10px 4px;color: #888}
  #footer{padding:30px;background-color: #fafafa;width:100%; box-sizing:border-box;}
  #footer .container{width:100%;margin:0 auto;overflow: hidden;}
  #footer .container .footerList{float:left;}
  #footer .container .footerList .strong{color:#091746;font-weight: bold;line-height: 34px;}
  #footer .container .footerList ul{padding:0; margin:0;}
  #footer .container .footerList ul li{list-style: none; font-size:14px; line-height: 22px;}
  #footer .container .footerList li a{text-decoration:none;color:#999;}
  #footer .container .footerList1{width:170px;}
  #footer .container .footerList2{width:180px;}
  #footer .container .footerList3{width:180px;}
  #footer .container .footerList4{width:100%;}
  #footer .container .footerList5{overflow: hidden;}
  #footer .container .footerList5 .quickMark{ font-size:14px; float:left; margin-top:10px;}
  #footer .container .footerList5 .quickMark img{ width:100px; height:100px;}
  #footer .container .footerList5 .help-block{text-align: center;color:#6f6d7a;line-height: 30px;height: 30px;}
  #footer-bottom{
    position: relative !important;
    width: 100%;
    line-height: 200%;
    z-index: 0;
    }
  #footer-bottom .pull-right{float: left !important;display: block;clear: both;}
  #footer-bottom .pull-right span{display: inline-block;}
}