.posts-list {
	list-style-type: none;
	padding-left: 0px;

	.posts-list-item {
		@icon-radius: 14px;
		width: 100%;
		margin-bottom: 0px;
		border-bottom: 1px solid #eee!important;
		padding:22px 0 13px;
		position: relative;
		&.deleted {
			-moz-opacity: 0.30;
			opacity: 0.30;
		}

		.user-img {
			.user-icon-style(@icon-radius * 2px, 1.5rem, 50%);
			position: absolute;
			top: 50%;
			margin-top: -1 * @icon-radius;
			margin-left: -1 * @icon-radius;
		}

		a {
			span {
				overflow: hidden;
				height: 16px;
				padding-left: 8px;
			}
		}

		.topic-title {
			color: @text-gray-color;
			font-size: 14px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 80%;
			display: block;
			height: 28px;
			line-height: 28px;
			&:hover{
				color: #1d8ce0;
			}
		}

		.topic-category {
			text-transform: uppercase;
			font-size: 10px;
			color: lighten(@gray-base, 65%);
			margin-top: 6px;
			margin-right: 10px;
			margin-bottom: 25px;
			display: inline-block;
			margin-top: 10px;

			a {
				font-weight: 900;
				color: @gray-light;
			}
		}

		.content {
			overflow: hidden;
			color:#989898;
			font-size:14px;
			height: 30px;
			line-height: 30px;
			.content-reply{
				font-size:14px;
				color:#000;
				font-weight: bold;
				display: inline-block;
				*display:inline;
				*zoom:1;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 70%;
				vertical-align: middle;
				p{
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
			h1, h2, h3, h4, h5, h6 {
				margin: 0;
				font-size: 100%;
			}

			blockquote {
				font-size: 100%;
				margin: 8px 0;
				padding: 0 10px;
			}

			p {
				margin: 0 0 2px;
			}
		}
		.timeago{
			font-size:12px;
			color:#777;
			position: absolute;
			top:-6px;
			right:0;
		}
		.post-body {
			// border-right: 2px solid @brand-primary;
			// min-height: 100px;
		}

		.post-info {
			position: absolute;
			top: 50%;
			left: 100%;
			width: 175px;
			height: 28px;
			margin-top: -14px;
			font-size: 10px;

			.post-author {
				padding-left: 25px;
				color: lighten(@gray-base, 65%);

				a {
					color: @gray-light;
					font-weight: 900;

				}

				text-transform: uppercase;
			}
		}
	}
	.bookmark-list-item{
		.content-reply{
			color:#666 !important;
			font-weight: 400 !important;
		}
		.topic-title{
			color:#233241!important;
			font-weight: 700!important;
		}
	}
}

@media (max-width: @screen-sm-min) {
	.posts-list .posts-list-item .post-info {
		width: 100px;
	}
}