.define-if-not-set() {
	@btn-primary-bg: darken(#428bca, 6.5%);
	@btn-primary-color: #fff;
	@gray-light: lighten(#000, 46.7%);
	@padding-large-vertical: 10px;
	@padding-large-horizontal: 16px;
}

.define-if-not-set();

.composer {
	.no-select;
	margin-bottom:50px;
	z-index: 10000;
	background: #fff;
	// visibility: hidden;

	padding: 0;

	// position: fixed;
	// bottom: 0;
	// top: 0;
	// right: 0;
	// left: 0;

	.composer-container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.mobile-navbar {
		position: static;
		background: @btn-primary-bg;
		color: @btn-primary-color;
		min-height: 40px;
		margin: 0;

		button {
			font-size: 20px;
		}

		.category-name-container {
			font-size: 16px;
			padding: 10px 5px;
			vertical-align: middle;
			display: inline-block;
			text-align: center;
			width: ~"calc(100% - 75px)";
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.title {
			text-align: center;
			margin-right: 46px;
			margin-left: 46px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
	.post-title{
		height: 32px;
		line-height: 32px;
		font-size:22px;
		color:#233241;
		margin:40px 0 15px;
	}
	.topic-title{
		color:#5e5e5e;
		font-size:16px;
		padding: 0 10px;
		border-left:2px solid #208de0;
		font-size: 16px;
		margin-bottom:10px;
		height: 12px;
		line-height: 12px;
		margin-top:20px;
	}
	.topic-title-container{
		position: relative;
		padding:0 15px;
		
		.input-group{
			// margin-left:70px;
		}
		.topic-input{
			border:1px solid #e0e8ed;
			border-radius:4px;
		}
	}

	.edit-container{
		padding:0 15px;
		margin-top:25px;
		position: relative;
		.markdown-help{
			position: absolute;
			bottom:-25px;
			left:16px;
			color:#5e5e5e;
			.markdown-link{
				color:#208de0;
			}
		}
		.edit-title{
			position: absolute;
			top: 10px;
			left: 33px;
			color:#5e5e5e;
			font-size:16px;
		}
		.write-all-container{
			border:1px solid #e0e8ed;
			border-radius: 4px;
		}
		.nav-edit-topic{
			border:0;
			li{
				height: 32px;
				cursor:pointer;
				span{
					height: 32px;
					line-height: 32px;
					margin: 0;
					display: inline-block;
					width: 100%;
				}
				&.active{
					border-left:1px solid #eee;
					border-right:1px solid #eee;
					border-top:1px solid #eee;
					border-radius: 4px;
				}
			}
		}
	}
	.share-strategy{
		margin-top:26px;
		margin-bottom:20px;
		.composer-select{
			display: inline-block;
			*display:inline;
			*zoom:1;
			width: 86px;
			height: 26px;
			font-size: 14px;
			color: #5687ff;
			padding-left: 7px;
			line-height: 26px;
			border: 1px solid #5687ff;
			border-radius: 14px;
			cursor: pointer;
		}
		.strategy-title-show{
			margin-left:12px;
		}
		.composer-submit{
			width: 110px;
			height: 33px;
			line-height: 14px;
			border-radius: 4px;
			float:right;
			border-radius: 4px !important;
		}
	}
	.strategy-choose{
		position: relative;
		padding: 0 15px;
		margin-top:40px;
		.strategy-title{
			position: absolute;
			top: 10px;
			left: 33px;
			color:#5e5e5e;
			font-size:16px;
		}
		.choose{
			height: 40px;
			border:1px solid #eee;
			position: relative;
			border: 1px solid #eee;
			border-radius: 4px;
			.strategy-title-show{
				width:100%;
				height: 40px;
				line-height: 40px;
				color:#555;
				padding-left:21px;
			}
			.input-select{
				width:65px;
				position: absolute;
				top:10px;
				right:0;
				border-left:1px solid #e0e8ed;
				color:#208de0;
				cursor:pointer;
				text-align: center;
			}	
			
		}
	}
	.backtest-title-show {
		display: none;
		margin-top:20px;
		.title{
			width: 100%;
			height: 40px;
			line-height: 40px;
			border: 1px solid #eee;
			border-radius: 4px;
			padding-left:21px;
			color:#ccc;
		}
	}
	@media (max-width: @screen-sm-max) {
		.topic-title-container{
			.input-group{
				margin-left:0;
				margin-top:26px;
			}
			.topic-title{
				top:-5px;
				left:15px;
			}
		}
		.edit-container{
			margin-top:56px;
			.edit-title{
				top: -30px;
				left: 15px;
			}
			.write-all-container{
				margin-left:0;
				
			}
		}
		.strategy-choose{
			.choose{
				margin-left:0;
			}
			.strategy-title{
				top:-28px;
				left:18px;
			}
		}
	}
	.input-group{
		// border:1px solid #e0e8ed;
		border-radius: 4px;
		display: block;
	}
	.input-group-btn{
		font-size:14px;
		.category{
			float:left;
			margin-right:10px;
			// padding:0 15px!important;
			height: 40px;
			line-height: 40px;
			border:1px solid #e0e8ed;
			border-radius: 4px;
			cursor:pointer;
			&.choose{
				background-color:#ec3c2f;
				color:#fff;
				border:0;
			}
		}
		.category-selector{
			margin-bottom:22px;
		}
	}
	.title-container {
		border-bottom: 1px solid #eee;

		.title {
			display: block;
			margin: 0;
			padding: 8px;
			font-size: 18px;
			border: 0;
			.box-shadow(none);
			overflow: hidden;
		}

		.category-list-container {
			font-size:14px;
			[component="category-selector"] {
				float: right !important;

				.category-dropdown-menu {
					max-height: 300px;
					right: 0;
					left: auto;
				}
			}
		}

		.category-list {
			padding: 0 2rem;
		}
	}

	.category-tag-row {
		margin: 0;
		// padding:0 15px;
		box-shadow: none;
		border:0;
		border-bottom:1px solid #e0e8ed;
	}

	

	

	.submitTopic{
		padding:0 15px;
		margin-top:40px;
		.composer-review{
			padding: 10px 67px;
			border: 1px solid #dcdcdc;
			border-radius: 5px;
			margin-right: 22px;
			&:focus{
				outline:none;
			}
			&:hover{
				border:1px solid #ec3c2f;
				background-color:#fff;
				color:#ec3c2f
			}
		}
		.btn-primary{
			background-color:#ec3c2f;
			padding:10px 67px;
			border:0;
			border-radius: 5px;
		}
	}
	.formatting-bar {
		margin: 0;
		height:40px;
		span {
			color: #000;
		}

		.spacer {
			&:before {
				content: ' | ';
				color: @gray-light;
			}
		}

		.formatting-group {
			padding: 0;
			margin: 0;
			overflow-x: auto;
			white-space: nowrap;
			display: block;
			list-style: none;

			li {
				display: inline-block;
				padding: 10px 15px;
				cursor: pointer;
				color: #606266;

				&:focus, &:hover {
					outline: none;
					background-color: darken(#fff, 10%);
				}
			}
		}
	}

	.write-preview-container {
		flex: 2;
		display: flex;
		overflow: hidden;
	}

	.write-container, .preview-container {
		// margin: 0 15px;
		position: relative;
		overflow: hidden;
		padding:0;
		.help-text {
			text-transform: uppercase;
			position: absolute;
			right: 35px;
			top: 8px;
			font-size: 10px;
			color: #999;
			z-index: 1;
		}
	}

	.write-container {
		&.maximized {
			width: 100%;
		}
	}
	.composer-write{
		padding:0;
		height: 500px;
	}
	.preview-container {
		word-wrap: break-word;
		h1{
			font-size: 18px;
			font-weight: bold;
		}		
		h2{
			font-size: 16px;
			font-weight: bold;
		}
		h3{
			font-size: 16px;
		}
		h4{
			font-size:14px;
			font-weight: bold;
		}
		h5{
			font-size:14px;
		}
		h6{
			font-size: 14px;
		}
	}

	.write, .preview  {
		border:0;
		width: 100%;
		background-color:#fff;
		font-size: 16px;
		.border-radius(0);
		resize: none;
		overflow: auto;
		padding: 25px 10px;
		margin: 0;
		&:focus{
			outline:1px solid #e1e9ee;
		}
	}

	.write {
		// border: 1px solid #e1e9ee;
		max-width: 100%;
		min-width: 100%;
		min-height: 500px;
		resize:auto;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		.box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
		border:0;
	}

	.preview {
		-webkit-touch-callout: default;
		user-select: text;
		height:500px;
		box-shadow: none;
		border-left:1px solid #e0e8ed;
		p {
			margin: 0 0 18px;
		}
	}
	@media (max-width: @screen-sm-max) {
		.preview{
			height: 300px;
		}
		.write{
			min-height: 300px;
		}
	}
	.help {
		.pointer;
	}

	.toggle-preview {
		margin-left: 20px;
		.pointer;
	}

	.tags-container {
		.bootstrap-tagsinput {
			border: 0;
			padding: 4px 6px;
			box-shadow: none;

			input {
				font-size: 16px;
				height: 28px;
				padding: 4px 6px;
			}

			.label {
				color: white;
				font-size: 13px;
			}
		}
	}

	// .category-selector {
	// 	display: block;
	// 	visibility: hidden;

	// 	position: fixed;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;

	// 	margin: 0;
	// 	padding: 0 5px;
	// 	max-height: ~"calc(100% - 86px)";

	// 	background: #fff;
	// 	box-shadow: 0 2px 6px rgba(0,0,0,0.35);
	// 	overflow: auto;
	// 	-webkit-overflow-scrolling: touch;
	// 	transform: translate3d(0, 350px, 0);
	// 	transition: transform 0.3s, visibility 0s 0.3s;
	// 	z-index: 2;
	// 	margin-bottom:22px;
	// 	&.open {
	// 		transform: none;
	// 		visibility: visible;
	// 		transition-delay: 0s;
	// 	}

	// 	li {
	// 		padding: 10px;
	// 		color: #333;

	// 		&.active {
	// 			background-color: @btn-primary-bg;
	// 			color: @btn-primary-color;
	// 		}
	// 	}
		
	// }

	.resizer {
		display: none;
		position: absolute;
		width: 100%;
		top: 10px;
		height: 0;

		.pointer;

		.trigger {
			position: relative;
			display: block;
			width: 32px;
			height: 32px;
			top: -20px;
			margin: 0 auto;
			margin-left: 20px;

			background: #333;
			border: 1px solid #333;
			.border-radius(50%);

			line-height: 26px;

			i {
				position: relative;
				color: #FFF;
				font-size: 16px;

				&:before {
					content: @fa-var-arrows-v;
					position: relative;
					top: 3px;
				}
			}
		}
	}

	&.reply {
		.title-container {
			display: none;
		}
	}

	&.resizable.maximized {
		.resizer .trigger i {
			&:before {
				content: @fa-var-chevron-down;
			}
		}

		box-shadow: none;
	}

	.imagedrop {
		position: absolute;
		top: 250px;
		text-align: center;
		font-size: 24px;
		color: #999;
		width: 100%;
		display: none;
	}

	.topic-thumb-container {
		margin-top: 5px;
		margin-left: 8px;
		margin-right: 8px;
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.6);
		padding: 10px;
	}

	.topic-thumb-btn {
		cursor: hand;
		cursor: pointer;
	}

	.topic-thumb-preview {
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 100px;
	}

	.topic-thumb-ctrl.form-group {
		display: inline-block;
		vertical-align: -50% !important;
	}
}
.reply{
	.write-all-container{
		border:1px solid #eee;
		border-radius: 4px;
		.write{
			outline:0;
			box-shadow: none;
		}
	}
}
@media (max-width: @screen-sm-max) {
	html.composing {
		&, body {
			height: 100%;
			overflow: auto;
			position: relative;
		}

		.composer {
			height: 100%;
			overflow: auto;
		}

		body {
			padding-bottom: 0 !important;
			overflow: auto;
		}
	}
}

@media (min-width: @screen-md-min) {
	@import './medium.less';
}

@import './zen-mode.less';
@import './page-compose.less';

.select-dialog{
	.btn-primary{
		width:92px;
		height: 35px;
		line-height: 17px;
		border-radius: 3px;
	}
	@media (max-width: @screen-xs-max) {
		.modal-dialog{
			width:auto;
			margin-left:20px;
			margin-right: 20px;
			margin-top:120px;
		}
		
	}
	.select-strategy{
		.btn{
			width:100%;
			padding:8px 20px;
			text-align: left;
			border-color:#e1e9ee;
			border-radius: 3px;
			position: relative;
			&:hover{
				background-color:#fff !important;
				outline:none;
			}
			&:focus{
				background-color:#fff !important;
				outline: none;
				box-shadow: none;
			}
			span{
				color:#999;
				font-size:14px;
			}
			.caret{
				position: absolute;
				right: 16px;
				top: 17px;
			}
		}
		.select-backtest-container{
			margin-top:20px;
		}
		.select-backtest-menu, .select-strategy-menu{
			// display: block;
			position: absolute;
			left: 30px;
			right: 30px;
			top: 55px;
			border-radius: 8px;
			li{
				line-height: 36px;
				height: 36px;
				padding-left:20px;
				text-overflow:ellipsis;
				white-space: nowrap;
				overflow: hidden;
				color:#999;
				font-size: 14px;
				&:hover{
					background-color: #edeff5;
				}
			}
		}
		.tips{
				margin:0;
				margin-top:10px;
				font-size: 12px;
				color:#208de0;
				margin-left: 10px;
			}
		.select-backtest-menu {
			top:112px;
			
		}
		// label {
        //     display: inline-block;
        //     cursor: pointer;
        //     position: relative;
        //     padding-left: 23px;
        //     margin-right: 15px;
		// 	font-size: 13px;
		// 	color:#999;
		// 	font-size:12px;
		// 	font-weight: normal;
        // }
        
        // label:before {
        //     content: "";
        //     display: inline-block;
         
        //     width: 16px;
        //     height: 16px;
         
        //     position: absolute;
        //     left: 0;
        //     bottom: 1px;
        //     background-color: #fff;
        //     border: 1px solid #bfcbd9;
        // }

        // .selectcheckbox label:before {
        //     border-radius: 3px;
        // }
        
        
        // input[type=checkbox] {
        //     display: none;
        // }
        
        // input[type=checkbox]:checked + label:before {
        //     // content: "\2713";
        //     /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .2); */
        //     // font-size: 12px;
        //     // color: #f3f3f3;
        //     // text-align: center;
        //     // line-height: 15px;
        //     // background-color:#208de0;
		// 	// border-color: #0190fe;

		// 	box-sizing: content-box;
		// 	content: "";
		// 	border: 2px solid #fff;
		// 	border-left: 0;
		// 	border-top: 0;
		// 	height: 11px;
		// 	left: 5px;
		// 	position: absolute;
		// 	top: 1px;
		// 	/* transform: rotate(45deg) scaleY(0); */
		// 	width: 5px;
		// 	/* transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s; */
		// 	/* transform-origin: center; */
		// }
		.selectcheckbox{
			padding-left: 4px;
			margin-top: 16px;
		}
		.el-checkbox {
			color: #1f2d3d;
			position: relative;
			cursor: pointer;
			display: inline-block;
			white-space: nowrap;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
		.el-checkbox__input{
			position: absolute;
			height: 20px;
			margin-top:2px;
		}
		.el-checkbox__inner {
			display: inline-block;
			position: relative;
			border: 1px solid #bfcbd9;
			border-radius: 4px;
			box-sizing: border-box;
			width: 14px;
			height: 14px;
			background-color: #fff;
			z-index: 1;
			// transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
		}
		.el-checkbox__input.is-checked 
		{
			.el-checkbox__inner {
				background-color: #20a0ff;
				// border-color: #0190fe;
				border:0;
			}
		}
		.el-checkbox__inner:after {
			box-sizing: content-box;
			content: "";
			border: 2px solid #fff;
			border-left: 0;
			border-top: 0;
			height: 6px;
			left: 4px;
			position: absolute;
			top: 2px;
			transform: rotate(45deg) scaleY(0);
			width: 4px;
			transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
			transform-origin: center;
		}
		.el-checkbox__original {
			opacity: 0;
			outline: none;
			position: absolute;
			margin: 0;
			width: 0;
			height: 0;
			left: -999px;
		}
		.el-checkbox__input.is-checked .el-checkbox__inner:after {
			transform: rotate(38deg) scaleY(1);
		}
		.el-checkbox__label{
			padding-left:22px;
			font-weight: normal;
			color:#999;
		}
	}
}
.review-dialog{
	.modal-dialog{
		width:auto;
		margin-left:150px;
		margin-right:150px;
		margin-top:183px;
		margin-bottom:0;
		.modal-body{
			padding-bottom:20px;
		}
		.preview{
			max-height: 480px;
			overflow-y: auto;
		}
	}
	@media (max-width: @screen-xs-max) {
		.modal-dialog{
			width:auto;
			margin-left:20px;
			margin-right: 20px;
			margin-top:60px;
		}
		
	}
}
// @media (min-width: @screen-sm-max) {
// 	.select-dialog{
// 		margin-top:0
// 	}
// 	.review-dialog{
// 		margin-top:0;
// 		.modal-dialog{
// 			margin-left:50px;
// 			margin-right: 50px;
// 		}
// 	}	
// }
@media (max-width: @screen-sm-max){
	.modal {
		margin-top: 0;
	}
}

.strategyIframe{
	width:100%;
	border:0;
	height:100%;
	min-height:500px;
}


.goldminerimg{
	display: inline-block;
	*display: inline;
	*zoom:1;
	width:20px;
	height: 20px;
	background:url('images/myquant1.png');
	&.g-edit-topics{
		background-position:-151px 64px;
		width:28px;
		height: 28px; 
		vertical-align: middle;
		margin-right: 6px;
	}
	&.g-strategy-tips{
		background-position:-281px 0;
		width:16px;
		height: 16px;
		vertical-align: middle;
		margin-right: 8px;
	}
}
.hasNoStrategy{
	// height:74px;
	// line-height: 74px;
	// text-align: center;
	// background-color:#ebf0fb;
	// color:#666;
	// border-radius:5px;
	.nostrategyline{
		display: inline-block;
		background:url('images/tipline.png');
		width:504px;height: 22px;
		margin-top:6px;
		margin-bottom:14px;
	}
	.guide-side{
		float:left;
		width:50%;
		padding-left:52px;
		position: relative;
		p{
			margin-bottom:4px;
		}
		.guide-icon{
			display: inline-block;
			width:38px;
			height: 38px;
			*display: inline;
			*zoom:1;
			
			position: absolute;
			left:0;
		}
		.guide-icon-goldminer{
			background:url('images/goldminer-icon.png');
		}
		.guide-icon-share{
			background:url('images/share-icon.png');
		}
		.side-left{
			
		}
	}
}